.blogname {
	color: #008aff;
}
.sticky {
	border-top: 5px solid #008aff;
}

article.post-wrap {
	.post-media {
		margin-bottom: 22px;
	}
	h1.post-title {
		padding-top: 5px;
		word-break: break-all;
		color: #333333;
	}
	h2.post-title {
		word-break: break-all;
		a {
			font-size: 30px;
			text-transform: inherit;
			font-weight: 600;
			transition: 0.4s;
			&:hover {
				color: #008aff;
			}
		}
	}
	.post-meta {
		.post-meta-content {
			margin-top: 19px;
			margin-bottom: 20px;
			font-size: 16px;
			i {
				color: #008aff;
				margin-right: 3px;
				&:before {
					margin: 0px;
					font-size: 15px;
				}
			}
			a {
				font-size: 16px;
				transition: 0.4s;
				&:hover {
					color: #008aff;
				}
			}
		}
	}

	.post-footer {
		.post-readmore {
			a {
				padding: 12px 33px;
				background-color: #008aff;
				border-radius: 3px;
				transition: 0.5s;
				font-size: 16px;
				line-height: 24px;
				color: #fff;
				transition: all .3s;
				&:hover {
					background-color: #333333;
				}
			}
		}
	}


	.post-tag-howdy {
		display: flex;
		justify-content: flex-end;
		border-top: 1px solid #e5e5e5;
		padding-top: 18px;
		padding-bottom: 0px;
		margin-top: 10px;
		@media (max-width: 767px) {
			flex-direction: column;
			.post-tags-howdy {
				margin-bottom: 7px;
			}
		}
		.post-tags-howdy {
			width: 100%;
			@media (max-width: 767px) {
				width: 100%;
			}
			.ovatags {
				font-size: 15px;
				line-height: 24px;
				color: #666666;
				margin-right: 14px;
			}
			>a {
				font-size: 12px;
				line-height: 24px;
				color: #fff;
				background-color: #008aff;
				padding: 0px 10px 2px 10px;
				border-radius: 2px;
				transition: 0.5s;
				display: inline-block;
				margin-bottom: 7px;
				&:not(:last-child) {
					margin-right: 10px;
				}
				&:hover {
					background-color: #25282e;
				}
			}
		}
		.share_social-howdy {
			text-align: right;
			flex-basis: 25%;
			@media (max-width: 767px) {
				text-align: left;
				width: 100%;
			}
			ul.share-social-icons {
				padding: 0;
				list-style-type: none;
				li {
					display: inline-block;
					a {
						i {
							font-size: 14px;
							color: #666666;
							transition: 0.5s;
						}
						&:hover {
							i {
								color: #008aff;
							}
						}
					}
					&:not(:last-child) {
						margin-right: 10px;
					}
				}
			}
		}
	}
}

.pagination-wrapper{
	margin: 35px 0px;
	.blog_pagination {
		.pagination {
			li {
				a {
					font-size: 16px;
					line-height: 24px;
					color: #666666;
					background-color: rgba(0,0,0,0.1);
					border: none;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					width: 50px;
					height: 50px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 0px;
					transition: 0.5s;
					&:hover {
						color: #fff;
						background-color: #008aff;
					}
				}
				.pagi_dots {
					color: #666666;
					background-color: rgba(0, 0, 0, 0.1);
					border: none;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 0px;
					transition: 0.5s;
					margin-right: 10px;
				}
				&.active {
					a {
						color: #fff;
						background-color: #008aff;
					}
				}
			}
		}
	}
}

.sidebar {
	.widget {
		h4.widget-title {
			font-size: 25px;
			text-transform: inherit;
			font-weight: 600;
			border-bottom: none;
			color: #333333;
		}
		ul {
			li {
				a {
					color: #008aff;
					font-size: 17px;
					line-height: 24px;
					font-weight: 500;
					transition: 0.5s;
					&:hover {
						color: #333333;
					}
				}
			}
		}
		&.widget_tag_cloud {
			.tagcloud {
				a {
					padding: 3px 15px;
					background-color: transparent;
					border: solid 1px #bfbfbf;
					font-size: 17px !important;
					border-radius: 5px;
					color: #828282;
					transition: 0.4s;
					&:hover {
						background-color: #008aff;
						color: #fff;
						border-color: #008aff;
					}
				}
			}
		}  

		&.widget_custom_html {
			h4.widget-title {
				margin-bottom: 10px;
			}
			.ova_search {
				position: relative;
				margin-top: 36px;
				input {
					border: none;
					width: 100%;
					font-size: 15px;
					line-height: 24px;
					color: #999999;
					background-color: #f2f2f2;
					padding: 13px 10px 14px 20px;
					height: unset;
				}
				button {
					background: transparent;
					border: none;
					cursor: pointer;
					padding: 0px;
					width: 50px;
					height: 50px;
					position: absolute;
					right: 0;
					top: 0;
					&:focus {
						outline: none;
					}
				}
			}
		}

		&.widget_rss {
			ul {
				li {
					a {
						&.rsswidget {
							color: #008aff;
							font-size: 17px;
							&:hover {
								color: #333;
							}
						}
					}
				}
			}
		}
	}
}  


.comment-respond  {
	small {
		display: inline-block;
		margin-bottom: 10px;
	}
	h4.title-comment {
		margin: 36px 0px 5px 0px;
	}
	.comment-form { 
		input, textarea {
			height: unset;
			padding: 12px 18px;
			border-color: #e5e5e5;
		}
		.form-submit {
			margin-top: 35px;
			#submit {
				background-color: #008aff ;
				border-color: #008aff;
				transition: 0.4s;
				&:hover {
					background-color: #333 ;
					border-color: #333;
				}
			}
		}
		.comment-form-cookies-consent {
			display: none;
		}
		
	}
	
	
}

.content_comments {
	/*form comment*/
	.wrap_comment_form {
		.comment-respond {
			small {
				display: none;
			}
		}
		
		h4.title-comment {
			border-top: none;
			padding-top: 0;
			margin-top: 0;
		}
		.comment-form {
			input, textarea {
				height: unset;
				padding: 12px 18px;
				border-color: #e5e5e5;
			}
			.form-submit {
				order: 4;
				margin-top: 18px;
				margin-bottom: 120px;
				#submit {
					font-size: 16px;
					line-height: 24px;
					color: #ffffff;
					height: unset;
					padding: 12px 53px 13px 53px ;
					text-transform: unset;
					transition: 0.5s;
					background-color: #008aff ;
					border-color: #008aff ;
					transition: 0.4s;
					&:hover {
						background-color: #333 ;
						border-color: #333;
					}
				}
			}
		}
	}
	/*end form comment*/
}

ul.commentlists {
	li {
		&.pingback, &.trackback {
			border-bottom: 1px solid #e8e8e8;
			padding-bottom: 14px;
			.author-name {
				a {
					color: #000;
					font-weight: 600;
					font-size: 15px;
					text-transform: capitalize;
					&:hover {
						color: #008aff;
					}
				}
			}
		}
		&.pingback {
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
.post-password-form {
	p {
		&:not(:last-child) {
			padding-bottom: 20px;
		}
		label {
			input[type=password] {
				height: unset;
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
		input[type=submit] {
			height: unset;
			line-height: 25px;
			padding-bottom: 7px;
			padding-top: 7px;
			cursor: pointer;
		}
	}
}
.comment-respond #submit {
	line-height: 24px;
	font-size: 16px;
	padding: 12px 53px 13px 53px !important;
	height: unset;
}

@media (max-width: 767px) {
	h4.title-comment {
		margin-top: 0px;
	}
}


/********  TESTTHEME ****************/
.page-links {
	float: unset;
	padding-top: 20px;
}

article.post-wrap {
	.post-meta {
		.post-meta-content {
			a {
				word-break: break-all;
			}
		}
	}

	.post-body {

		.post-excerpt {
			p {
				margin-bottom: 30px;
				&:last-child:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}
	}

}
.comment-respond {
	.comment-reply-title {
		display: none;
	}
	h4.title-comment {
		margin: 36px 0px 15px 0px;
	}
}
h4.title-comment, h4.number-comments {
	font-size: 25px;
	text-transform: inherit;
	font-weight: 600;
	color: #333333;
} 


/**************** END TESTTHEME *************/



ul.commentlists li.pingback .author-name.mobile,
.author-name.mobile{
	display: none;
}
@media( max-width: 991px ){
	.content_comments .commentlists li.comment article.comment_item .comment-author{
		display: flex;
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;

		.author-name.mobile{
			margin-left: 15px;
			padding-top: 0px;
			.name, .name a{
				    font-size: 16px;
				    line-height: 24px;
				    color: #333333;
				    font-weight: 600;
				    text-transform: capitalize;
			}
			.date_reply{
				margin-top: 8px;
			}
			.ova_reply a{
				font-size: 14px;
				margin-top: 5px;
				display: block;
				i{
					padding-right: 3px;
				}
			}
			.date{
				font-size: 14px;
			}
		}
	}
	.author-name.mobile{
		display: block!important;
	}
	ul.commentlists li.pingback .author-name.mobile{
		display: none!important;	
	}
	.content_comments .commentlists li.comment article.comment_item .comment-details .author-name.desk{
		display: none;
	}
	.content_comments .commentlists li.comment article.comment_item .comment-details .comment-body{
		padding-left: 0;
	}
	.content_comments .commentlists li.comment article.comment_item .comment-details .ova_reply{
		margin-top: 10px;
	}
	ul.commentlists li.pingback{
		display: block;
		width: 100%;
		float: left;
	}
	ul.commentlists li.pingback header.comment-author{
		display: none;
	}
	ul.commentlists li.pingback .comment-details .author-name{
		
		margin-top: 0!important;
	}
	ul.commentlists li.comment .comment_item .comment-author img{
		width: 70px;
		height: 70px;

	}
}
