/* Table Css

1.1 General Settings
1.2 Typo
1.3 Sidebar
1.4 404 Page
1.5 List Comment
1.6 Comment Form
1.7 Blog
1.8 Breadcrumbs
1.9 Responsive  

2.0 Menu Settings

*/
/* 1.1 General Typo ***************************************************/
body.admin-bar {
  top: 32px; }

/* Font in different browser */
body {
  overflow-x: hidden; }

body, button, input, select, textarea {
  color: #343434;
  line-height: 23px; }

p {
  line-height: 23px;
  margin-bottom: 2rem; }

a:hover {
  text-decoration: none;
  outline: none; }

a:hover, a:focus {
  text-decoration: none;
  outline: none; }

input:focus {
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
  max-width: 100%; }

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0; }

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

.gallery-caption {
  width: 100%; }

.sticky {
  background: #f3f3f3;
  padding: 22px 30px 30px 30px;
  border-top: 5px solid #5687bf; }

.single .sticky {
  padding: 30px; }

.sticky .post-excerpt {
  text-align: justify; }

.bypostauthor {
  position: relative; }

.widget label.screen-reader-text {
  display: none; }

.slash {
  padding: 0px 3px;
  color: #999; }

/** Fix for img ajax contact form 7  */
img.ajax-loader {
  width: 16px !important;
  height: 16px !important;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-left: auto !important; }

.pp_social .facebook {
  width: 70px; }

/* Scroll To TOp */
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #343434;
  color: #fff;
  text-align: center; }

#scrollUp i {
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 15px; }

/* boxed and wide layout */
.ovatheme_container_wide {
  background: #fff; }

.ovatheme_container_boxed {
  max-width: 1170px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden; }

/* iframe */
.js-video embed, .js-video iframe, .js-video object, .js-video video {
  width: 100%;
  height: 450px;
  border: none; }

iframe {
  width: 100%;
  border: none; }

.iframe_eventbrite iframe {
  height: 350px; }

@media (max-width: 767px) {
  .js-video embed, .js-video iframe, .js-video object, .js-video video {
    height: 350px; } }
pre {
  border: 1px solid #d1d1d1;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  margin: 1.75em 0  1.75em 0;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

#main-content {
  width: 100%; }

input {
  border: 1px solid #343434;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px; }

input[type="submit"] {
  height: 40px;
  line-height: 36px;
  background-color: #343434;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #343434;
  border-radius: 0;
  height: 40px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px; }

/* Fix table */
table, tr, td, th {
  border: 1px solid #ededed; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%; }

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit; }

th {
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333; }

tbody th {
  font-weight: 500;
  text-transform: inherit; }

th a {
  color: #555; }

td {
  padding: 5px 10px; }

table tr td a {
  color: #333; }

ol, ul {
  margin: 0;
  padding: 0 0 0 15px; }

ul {
  list-style-type: square; }

ul li {
  display: list-item;
  text-align: -webkit-match-parent; }

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
  margin-top: 0; }

address {
  font-style: italic;
  margin: 0 0 24px; }

cite, em, var, address, dfn {
  font-style: italic; }

/* 1.2 Typo ***************************************************/
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 600; }

h1 {
  font-size: 35px;
  /*font-size: 2.0625rem;*/
  line-height: 1.2727272727;
  margin-top: 1.696969697em;
  margin-bottom: 0.8484848485em; }

h2 {
  font-size: 30px;
  /*font-size: 1.75rem;*/
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 1em; }

h3 {
  font-size: 24px;
  /*font-size: 1.4375rem;*/
  line-height: 1.2173913043;
  margin-top: 1.1em;
  margin-bottom: 1.2173913043em; }

h4 {
  font-size: 19px;
  /*font-size: 1.1875rem;*/
  line-height: 1.1052631579;
  margin-top: 1.1em;
  margin-bottom: 1.473684211em; }

h5 {
  font-size: 19px;
  /*font-size: 1.1875rem;*/
  line-height: 1.1052631579;
  margin-top: 1.1em;
  margin-bottom: 1.473684211em; }

h6 {
  font-size: 19px;
  /*font-size: 1.1875rem;*/
  line-height: 1.1052631579;
  margin-top: 1.1em;
  margin-bottom: 1.473684211em; }

h1.page-title {
  margin-top: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

/* Layout ***************************************************/
.wrap_site {
  display: flex;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0px 10px;
  flex-wrap: wrap; }

/* Fix Layout to 1170px */
.container,
body .elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1190px !important; }

/* 1.3 Sidebar ***************************************************/
.sidebar .widget {
  display: block;
  margin-bottom: 65px;
  float: left;
  width: 100%;
  /* Rss */
  /* Sidebar Calendar */
  /* Sidebar Tag clound */
  /* Sidebar Search */
  /* Sidebar dropdown */
  /* Sidebar img */
  /* sidebar ul, ol, li */
  /* widget categorires */ }
  .sidebar .widget a {
    color: #5c5c5c; }
    .sidebar .widget a:hover {
      color: #343434; }
  .sidebar .widget h4.widget-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #343434;
    border-bottom: 1px solid #343434;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative; }
  .sidebar .widget .screen-reader-text {
    display: none; }
  .sidebar .widget.widget_rss {
    margin-bottom: 35px; }
    .sidebar .widget.widget_rss ul li {
      margin-bottom: 30px;
      padding-bottom: 17px;
      border-bottom: 1px solid #e7e7e7; }
      .sidebar .widget.widget_rss ul li:last-child {
        border-bottom: none;
        margin-bottom: 0; }
      .sidebar .widget.widget_rss ul li a.rsswidget {
        font-weight: 600;
        display: block;
        line-height: 1.5em;
        margin-bottom: 12px;
        color: #343434;
        font-size: 15px; }
      .sidebar .widget.widget_rss ul li .rss-date {
        display: inline-block;
        margin-bottom: 12px;
        font-weight: 500;
        opacity: 0.7; }
      .sidebar .widget.widget_rss ul li .rssSummary {
        margin-bottom: 12px; }
  .sidebar .widget.widget_calendar {
    width: 100%; }
    .sidebar .widget.widget_calendar table {
      margin-bottom: 0; }
      .sidebar .widget.widget_calendar table thead {
        border: 1px solid #343434; }
        .sidebar .widget.widget_calendar table thead tr th {
          background-color: #343434;
          color: #fff; }
    .sidebar .widget.widget_calendar tr th {
      background: #ccc;
      color: #444; }
    .sidebar .widget.widget_calendar caption {
      background: #343434;
      color: #fff;
      font-weight: bold;
      text-align: center;
      border: none; }
    .sidebar .widget.widget_calendar tr th,
    .sidebar .widget.widget_calendar tr td {
      border: none;
      text-align: center; }
    .sidebar .widget.widget_calendar tr td {
      border: 1px solid #e4e4e4; }
  .sidebar .widget.widget_tag_cloud .tagcloud {
    position: relative;
    width: 100%;
    float: left; }
    .sidebar .widget.widget_tag_cloud .tagcloud a {
      float: left;
      margin: 0 10px 10px 0;
      display: block;
      padding: 5px 10px;
      background-color: transparent;
      border: solid 1px #555555;
      font-size: 14px !important; }
      .sidebar .widget.widget_tag_cloud .tagcloud a:hover {
        color: #fff;
        background-color: #555; }
  .sidebar .widget.widget_search form.search-form {
    position: relative;
    align-items: center;
    display: flex; }
  .sidebar .widget.widget_search input.search-submit {
    border: none;
    height: 40px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer; }
  .sidebar .widget.widget_search label {
    margin-bottom: 0px; }
    .sidebar .widget.widget_search label input.search-field {
      max-width: 180px;
      margin-right: 5px; }
      .sidebar .widget.widget_search label input.search-field::-moz-placeholder {
        color: #8a929a; }
      .sidebar .widget.widget_search label input.search-field::-webkit-input-placeholder {
        color: #333;
        opacity: 0.9; }
      .sidebar .widget.widget_search label input.search-field:-moz-placeholder {
        color: #333;
        opacity: 1; }
      .sidebar .widget.widget_search label input.search-field::-moz-placeholder {
        color: #333;
        opacity: 1; }
      .sidebar .widget.widget_search label input.search-field:-ms-input-placeholder {
        color: #333; }
  .sidebar .widget ul.search {
    list-style-type: none;
    padding-left: 0; }
  .sidebar .widget select {
    width: 100%;
    height: 30px;
    line-height: 30px; }
  .sidebar .widget img {
    width: auto; }
  .sidebar .widget ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0px; }
  .sidebar .widget.widget_categories ul {
    margin-bottom: 0; }
  .sidebar .widget.widget_archive a, .sidebar .widget.widget_categories a, .sidebar .widget.widget_links a, .sidebar .widget.widget_meta a, .sidebar .widget.widget_nav_menu a, .sidebar .widget.widget_pages a, .sidebar .widget.widget_recent_comments a, .sidebar .widget.widget_recent_entries a {
    border: 0; }
  .sidebar .widget.widget_archive ul, .sidebar .widget.widget_categories ul, .sidebar .widget.widget_links ul, .sidebar .widget.widget_meta ul, .sidebar .widget.widget_nav_menu ul, .sidebar .widget.widget_pages ul, .sidebar .widget.widget_recent_comments ul, .sidebar .widget.widget_recent_entries ul {
    list-style: none;
    margin: 0; }
  .sidebar .widget.widget_archive li, .sidebar .widget.widget_categories li, .sidebar .widget.widget_links li, .sidebar .widget.widget_meta li, .sidebar .widget.widget_nav_menu li, .sidebar .widget.widget_pages li, .sidebar .widget.widget_recent_comments li, .sidebar .widget.widget_recent_entries li {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 0.7667em 0; }
  .sidebar .widget.widget_archive li:first-child, .sidebar .widget.widget_categories li:first-child, .sidebar .widget.widget_links li:first-child, .sidebar .widget.widget_meta li:first-child, .sidebar .widget.widget_nav_menu li:first-child, .sidebar .widget.widget_pages li:first-child, .sidebar .widget.widget_recent_comments li:first-child, .sidebar .widget.widget_recent_entries li:first-child {
    border-top: 0;
    padding-top: 0; }
  .sidebar .widget.widget_archive li:last-child, .sidebar .widget.widget_categories li:last-child, .sidebar .widget.widget_links li:last-child, .sidebar .widget.widget_meta li:last-child, .sidebar .widget.widget_nav_menu li:last-child, .sidebar .widget.widget_pages li:last-child, .sidebar .widget.widget_recent_comments li:last-child, .sidebar .widget.widget_recent_entries li:last-child {
    padding-bottom: 0; }
  .sidebar .widget.widget_categories .children, .sidebar .widget.widget_nav_menu .sub-menu, .sidebar .widget.widget_pages .children {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    margin: 0.7667em 0 0 0.8em;
    padding-top: 0.7667em; }

/* 1.4 404 Page ***************************************************/
.error_404_page {
  text-align: center;
  margin: 120px auto 120px auto;
  max-width: 500px; }
  .error_404_page .btn-howdy-default.go_back {
    background-color: #008aff;
    color: #fff;
    border: 1px solid #008aff;
    padding: 10px 25px; }
    .error_404_page .btn-howdy-default.go_back:hover {
      background-color: #343434;
      border: 1px solid #343434; }
  .error_404_page h3 {
    font-size: 30px;
    font-weight: 400;
    color: #343434;
    padding: 0;
    margin: 15px 0px; }
  .error_404_page p.desc {
    margin-bottom: 20px; }
  .error_404_page .search-form .screen-reader-text {
    display: none; }
  .error_404_page input.search-submit {
    cursor: pointer; }
    .error_404_page input.search-submit:hover {
      background-color: #008aff;
      border-color: #008aff; }

/* Search Page ***************************************************/
article.result_search .post-body {
  margin-bottom: 30px; }

/* protect template page ***************************************************/
/* 1.5 List Comment ***************************************************/
h4.title-comment,
h4.number-comments {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #343434; }

ul.commentlists {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4px;
  display: block;
  float: left;
  width: 100%; }
  ul.commentlists li {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px; }
    ul.commentlists li.comment {
      display: block;
      float: left;
      width: 100%; }
      ul.commentlists li.comment .comment_item {
        margin-bottom: 15px;
        position: relative;
        z-index: 10; }
        ul.commentlists li.comment .comment_item .comment-author {
          float: left;
          margin-right: 20px; }
          ul.commentlists li.comment .comment_item .comment-author img {
            width: 70px;
            border-radius: 100%; }
        ul.commentlists li.comment .comment_item .comment-details {
          padding-top: 0;
          font-size: 16px; }
          ul.commentlists li.comment .comment_item .comment-details .author-name .name,
          ul.commentlists li.comment .comment_item .comment-details .author-name a.url {
            color: #333;
            font-weight: 600;
            text-transform: capitalize;
            font-size: 18px;
            padding-right: 5px; }
          ul.commentlists li.comment .comment_item .comment-details .author-name a:hover {
            color: #898989; }
          ul.commentlists li.comment .comment_item .comment-details .author-name .date_reply {
            display: flex;
            margin: 10px 0px; }
            ul.commentlists li.comment .comment_item .comment-details .author-name .date_reply .date {
              color: #008aff;
              text-transform: uppercase;
              font-size: 14px;
              padding-right: 10px; }
          ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply {
            display: flex; }
            ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply i {
              padding-left: 5px;
              color: #555;
              font-size: 10px !important; }
            ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply a {
              font-size: 12px !important;
              color: #343434;
              text-transform: capitalize !important;
              position: relative;
              font-weight: 500; }
              ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply a.comment-reply-link {
                padding-left: 18px;
                padding-right: 10px; }
                ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply a.comment-reply-link:after {
                  position: absolute;
                  left: 0px;
                  content: "\4a";
                  font-size: 16px;
                  font-family: "ElegantIcons"; }
                ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply a.comment-reply-link:hover {
                  color: #343434; }
              ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply a.comment-edit-link i {
                color: #343434;
                padding-right: 3px; }
              ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply a.comment-edit-link:hover {
                color: #343434; }
                ul.commentlists li.comment .comment_item .comment-details .author-name .ova_reply a.comment-edit-link:hover i {
                  color: #343434; }
          ul.commentlists li.comment .comment_item .comment-details .comment-body {
            padding-left: 90px; }
          ul.commentlists li.comment .comment_item .comment-details .comment-reply {
            position: absolute;
            top: 0;
            right: 0; }
            ul.commentlists li.comment .comment_item .comment-details .comment-reply img {
              float: left; }
          ul.commentlists li.comment .comment_item .comment-details .comment-reply-link {
            color: #555;
            font-size: 12px;
            float: left;
            padding-left: 2px; }
          ul.commentlists li.comment .comment_item .comment-details .comment-content p {
            margin-bottom: 0; }
    ul.commentlists li.pingback {
      position: relative; }
      ul.commentlists li.pingback .comment-body {
        display: none; }
      ul.commentlists li.pingback .author-name {
        display: inline-flex; }
        ul.commentlists li.pingback .author-name a {
          color: #000000;
          font-weight: 500;
          font-size: 12px;
          text-transform: uppercase; }
        ul.commentlists li.pingback .author-name .date {
          display: none; }
        ul.commentlists li.pingback .author-name .ova_reply a {
          text-transform: capitalize;
          padding-left: 10px; }
          ul.commentlists li.pingback .author-name .ova_reply a i {
            font-size: 12px;
            padding-right: 3px; }
  ul.commentlists ul.children {
    list-style: none;
    margin-left: 75px; }

.comment-navigation {
  float: left;
  width: 100%;
  margin-bottom: 10px; }
  .comment-navigation .nav_comment_text {
    width: 100%;
    float: left;
    padding: 10px 0px 11px 0px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #000; }
  .comment-navigation .previous {
    float: left;
    display: inline-block; }
  .comment-navigation .next {
    display: inline-block;
    float: right; }
  .comment-navigation a {
    color: #333;
    font-weight: 500; }
    .comment-navigation a:hover {
      color: #000; }

/* 1.6 Comment Form ***************************************************/
.wrap_comment_form {
  float: left;
  width: 100%;
  display: block; }
  .wrap_comment_form .comment-reply-title {
    margin-top: 0; }
  .wrap_comment_form h4.title-comment,
  .wrap_comment_form h4.number-comments {
    margin-bottom: 22px;
    border-top: 1px solid #dfdfdf;
    padding-top: 41px;
    margin-top: 0px; }
  .wrap_comment_form .comment-form input,
  .wrap_comment_form .comment-form textarea {
    border-radius: 4px;
    color: #343434;
    border-color: #343434;
    margin-bottom: 17px;
    height: 40px; }
    .wrap_comment_form .comment-form input:focus,
    .wrap_comment_form .comment-form textarea:focus {
      outline: none;
      box-shadow: none; }
  .wrap_comment_form .comment-form textarea {
    height: 150px; }
  .wrap_comment_form .comment-form p.form-submit {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 50px; }
    .wrap_comment_form .comment-form p.form-submit input.submit {
      font-size: 14px;
      border-radius: 4px;
      background-color: #343434;
      border: 1px solid #343434;
      color: #fff;
      box-shadow: none;
      font-weight: 500;
      text-shadow: none;
      cursor: pointer;
      text-transform: uppercase;
      padding: 10px 25px;
      height: 45px; }

/* Respond Comment ***************************************************/
.comment-respond input, .comment-respond textarea {
  margin-bottom: 15px; }
  .comment-respond input:focus, .comment-respond textarea:focus {
    outline: none;
    box-shadow: none; }
.comment-respond #submit {
  padding: 12px 25px;
  border: 1px solid #343434;
  border-radius: 4px;
  cursor: pointer;
  background-color: #343434;
  color: #fff; }

/* pagination ***************************************************/
.pagination-wrapper {
  text-align: center;
  margin: 50px 0px; }
  .pagination-wrapper .pagination li a {
    border-radius: 4px;
    margin-right: 10px;
    color: #333333;
    padding: 5px 20px;
    text-align: center;
    font-weight: 700;
    border: 1px solid rgba(52, 52, 52, 0.3); }
    .pagination-wrapper .pagination li a:focus, .pagination-wrapper .pagination li a:hover {
      border: 1px solid #343434;
      background-color: #343434;
      color: #fff; }
  .pagination-wrapper .pagination li.active a {
    border: 1px solid #343434;
    background-color: #343434;
    color: #fff; }

/* 1.7 Blog ***************************************************/
article.post-wrap {
  margin-bottom: 70px; }
  article.post-wrap h2.post-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em; }
  article.post-wrap h2.post-title a,
  article.post-wrap h2.entry-title a {
    color: #343434;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  article.post-wrap.sticky h2.post-title {
    margin-top: 0; }
  article.post-wrap .post-media {
    margin-bottom: 20px; }
  article.post-wrap .post-meta .post-meta-content {
    margin: 15px 0px;
    display: block;
    color: #222;
    font-size: 13px; }
    article.post-wrap .post-meta .post-meta-content a {
      color: #222;
      font-size: 13px; }
      article.post-wrap .post-meta .post-meta-content a:hover {
        color: inherit; }
    article.post-wrap .post-meta .post-meta-content .right {
      font-weight: 500; }
  article.post-wrap .post-tag {
    margin: 60px 0px 30px 0px; }
    article.post-wrap .post-tag .ovatags,
    article.post-wrap .post-tag .ovacats,
    article.post-wrap .post-tag .share_social .ova_label {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: #000;
      clear: both;
      display: block;
      margin-bottom: 15px; }
    article.post-wrap .post-tag a {
      background-color: #555;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      display: inline-block; }
      article.post-wrap .post-tag a:hover {
        background-color: #000; }
    article.post-wrap .post-tag .post-tags {
      display: block;
      margin-bottom: 15px; }
      article.post-wrap .post-tag .post-tags a {
        display: inline-block; }
    article.post-wrap .post-tag .post-categories {
      display: block;
      margin-top: 30px;
      margin-bottom: 30px a;
        margin-bottom-display: inline-block; }
    article.post-wrap .post-tag .share_social ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0; }
      article.post-wrap .post-tag .share_social ul li {
        display: inline-block;
        margin-bottom: 15px; }
  article.post-wrap .post-readmore a {
    text-transform: uppercase;
    color: #888;
    padding: 0;
    font-size: 12px;
    text-transform: none;
    font-weight: 500;
    line-height: 26px;
    border-radius: 0;
    letter-spacing: 1px;
    box-shadow: none; }
    article.post-wrap .post-readmore a a:hover {
      color: #000;
      border-bottom-color: #000; }

/* Detail */
.single article.post-wrap h1.post-title {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-bottom: 0px;
  margin-top: 0; }

/* fix background pattern */
.patter_bg {
  position: absolute !important;
  width: 100%;
  height: 100%; }

/* Search */
.result_search h2.post-title a {
  color: #333; }

/* password page */
.post-password-form p label {
  margin-bottom: 0; }

/* Page ***************************************************/
.page h2.post-title {
  margin-top: 0; }

/* Page Link ***************************************************/
.page-links {
  clear: both;
  margin: 20px 0px 30px 0px;
  float: left; }
  .page-links a, .page-links > span {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    font-size: 0.8125rem;
    height: 1.8461538462em;
    line-height: 1.6923076923em;
    margin-right: 0.3076923077em;
    text-align: center;
    width: 1.8461538462em; }
  .page-links a {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    color: #fff; }
    .page-links a:hover, .page-links a:focus {
      background-color: #e9a31b;
      border-color: transparent;
      color: #fff; }
  .page-links > .page-links-title {
    border: 0;
    color: #1a1a1a;
    height: auto;
    margin: 0;
    padding-right: 0.6153846154em;
    width: auto; }
  .page-links .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; }

/* 1.8 Breadcrumbs ***************************************************/
.ovatheme_breadcrumbs {
  background-color: #ededed;
  margin-bottom: 60px; }
  .ovatheme_breadcrumbs ul.breadcrumb {
    margin-bottom: 0;
    padding: 23px 0px; }
    .ovatheme_breadcrumbs ul.breadcrumb li,
    .ovatheme_breadcrumbs ul.breadcrumb a,
    .ovatheme_breadcrumbs ul.breadcrumb li a {
      color: #343434;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      font-size: 18px;
      line-height: 30px; }
  .ovatheme_breadcrumbs .separator {
    padding-left: 2px;
    padding-right: 2px; }
    .ovatheme_breadcrumbs .separator:before {
      font-family: 'ElegantIcons';
      content: "\35";
      font-size: 17px; }

/* 1.9 Responsive  ****************************************************/
@media (max-width: 1199.98px) {
  ul.commentlists ul.children {
    margin-left: 15px; } }
@media (max-width: 991.98px) {
  .ovatheme_header_default button.navbar-toggler {
    background: #343434;
    color: #fff; }

  ul.commentlists header.comment-author {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }
  ul.commentlists li.comment .comment_item .comment-details .comment-body {
    padding-left: 0px; } }
@media (max-width: 767.98px) {
  /* comment */
  .comment-details {
    width: 100%;
    float: left; }
    .comment-details .author-name {
      margin-top: 10px; }
    .comment-details .comment-content {
      margin-left: 0;
      padding-bottom: 15px; }

  h4.title-comment,
  h4.number-comments {
    float: left;
    width: 100%; }

  ul.commentlists li.comment article.comment_item {
    float: left;
    margin-bottom: 15px; }
  ul.commentlists ul.children {
    margin-left: 10px; } }
/* Fix PrettyPhoto in mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .pp_pic_holder {
    left: 50% !important;
    width: 98% !important;
    margin-left: -49% !important; }

  div.pp_default .pp_content_container .pp_right {
    padding-right: 21px !important; }

  .pp_content, #pp_full_res img {
    width: 100% !important;
    height: 100% !important; }

  div.pp_default .pp_content_container .pp_details {
    margin-top: 20px !important; }

  #pp_full_res iframe {
    width: 100%; } }
@media only screen and (max-width: 479px) {
  .pp_pic_holder {
    left: 50% !important;
    width: 98% !important;
    margin-left: -49% !important; }

  div.pp_default .pp_content_container .pp_right {
    padding-right: 21px !important; }

  .pp_content, #pp_full_res img {
    width: 100% !important;
    height: 100% !important; }

  div.pp_default .pp_content_container .pp_details {
    margin-top: 20px !important; }

  #pp_full_res iframe {
    width: 100%; } }
/* 2.0 Menu Settings */
/* Min Width Sub-Menu */
.dropdown-menu {
  min-width: 10rem; }

.menu_hamberger_fixed_mobile {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 1px 6px 0px #c5c5c5;
  background-color: #fff;
  padding: 10px 0; }

.fixed_menu_howdy {
  position: fixed !important;
  top: 0px;
  width: 100%;
  left: 0; }
  .fixed_menu_howdy.active_section_menu {
    z-index: 999;
    background: #fff;
    box-shadow: 0px 1px 6px 0px #c5c5c5; }
    .fixed_menu_howdy.active_section_menu .elementor-heading-title {
      color: #353535 !important;
      font-weight: 700; }
      .fixed_menu_howdy.active_section_menu .elementor-heading-title a {
        color: #353535 !important;
        font-weight: 700; }
    .fixed_menu_howdy.active_section_menu .ova_nav ul.menu li a {
      color: #454545 !important; }
      .fixed_menu_howdy.active_section_menu .ova_nav ul.menu li a.current_active {
        color: #87ac34 !important; }
    .fixed_menu_howdy.active_section_menu .elementor-button {
      background-color: #88ad45 !important; }
      .fixed_menu_howdy.active_section_menu .elementor-button:hover {
        background-color: #71992e !important; }
      .fixed_menu_howdy.active_section_menu .elementor-button .elementor-button-text {
        color: #fff !important; }

/* Menu Shrink */
body .ovamenu_shrink {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  /*		position: static;
  top: -100px;*/
  /* If mobile doesnt use Fixed => use bellow code */
  /*@media(max-width: 991.98px){
  	position: relative;
  	top: 0;
  	}*/ }
  body .ovamenu_shrink.active_fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 1px 6px 0px #c5c5c5;
    /* If mobile doesnt use Fixed => use bellow code */
    /*@media(max-width: 991.98px){
		position: relative;
		}*/ }
    body .ovamenu_shrink.active_fixed.bg_dark {
      background-color: #343434 !important;
      box-shadow: 0px 1px 6px 0px #696969; }
    body .ovamenu_shrink.active_fixed.bg_white {
      background-color: #fff !important; }
body.admin-bar .ovamenu_shrink.active_fixed {
  top: 32px; }
  @media (max-width: 782.98px) {
    body.admin-bar .ovamenu_shrink.active_fixed {
      top: 46px; } }
  @media (max-width: 599.98px) {
    body.admin-bar .ovamenu_shrink.active_fixed {
      top: 0px; } }
  body.admin-bar .ovamenu_shrink.active_fixed.bg_dark {
    background-color: #343434 !important;
    box-shadow: 0px 1px 6px 0px #696969; }
  body.admin-bar .ovamenu_shrink.active_fixed.bg_white {
    background-color: #fff !important; }

.ovatheme_header_default nav.navbar,
.ovatheme_header_default nav.navbar {
  width: 100%;
  /* Logo */
  /* Menu Item */
  /* Sub-menu */
  /* last-child level 0 */
  /* Menu Level 3 */
  /* Show Sub-Menu when hover */ }
  .ovatheme_header_default nav.navbar .navbar-brand,
  .ovatheme_header_default nav.navbar .navbar-brand {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase; }
  .ovatheme_header_default nav.navbar li a,
  .ovatheme_header_default nav.navbar li a {
    text-transform: uppercase;
    color: #343434;
    font-weight: 500;
    padding: 30px 15px;
    font-size: 14px;
    display: inline-block; }
  .ovatheme_header_default nav.navbar li.dropdown > a,
  .ovatheme_header_default nav.navbar li.dropdown > a {
    width: 100%; }
    .ovatheme_header_default nav.navbar li.dropdown > a:after,
    .ovatheme_header_default nav.navbar li.dropdown > a:after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      float: right;
      margin-top: 10px; }
  .ovatheme_header_default nav.navbar li.dropdown .dropdown-toggle,
  .ovatheme_header_default nav.navbar li.dropdown .dropdown-toggle {
    display: none; }
  .ovatheme_header_default nav.navbar li.dropdown i.arrow_carrot-down,
  .ovatheme_header_default nav.navbar li.dropdown i.arrow_carrot-down {
    display: none; }
  .ovatheme_header_default nav.navbar ul.dropdown-menu li > a,
  .ovatheme_header_default nav.navbar ul.dropdown-menu li > a {
    padding: 7px 15px;
    display: inline-block;
    white-space: nowrap; }
  .ovatheme_header_default nav.navbar ul.dropdown-menu > .active > a,
  .ovatheme_header_default nav.navbar ul.dropdown-menu > .active > a {
    background-color: transparent; }
    .ovatheme_header_default nav.navbar ul.dropdown-menu > .active > a:focus, .ovatheme_header_default nav.navbar ul.dropdown-menu > .active > a:hover,
    .ovatheme_header_default nav.navbar ul.dropdown-menu > .active > a:focus,
    .ovatheme_header_default nav.navbar ul.dropdown-menu > .active > a:hover {
      background-color: transparent; }
  .ovatheme_header_default nav.navbar ul.nav > li:last-child > a,
  .ovatheme_header_default nav.navbar ul.nav > li:last-child > a {
    padding-right: 0; }
  .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu ul.dropdown-menu,
  .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu ul.dropdown-menu {
    right: 100%;
    left: auto;
    top: 0; }
  @media (min-width: 992px) {
    .ovatheme_header_default nav.navbar ul.nav li.dropdown:hover > ul,
    .ovatheme_header_default nav.navbar ul.nav li.dropdown:hover > ul {
      display: block;
      top: 100%;
      margin: 0; }
    .ovatheme_header_default nav.navbar ul.nav ul li.dropdown:hover > ul,
    .ovatheme_header_default nav.navbar ul.nav ul li.dropdown:hover > ul {
      top: 0; } }
  @media (max-width: 991.98px) {
    .ovatheme_header_default nav.navbar button.navbar-toggler:focus,
    .ovatheme_header_default nav.navbar button.navbar-toggler:focus {
      outline: none; }
    .ovatheme_header_default nav.navbar ul.nav li > a,
    .ovatheme_header_default nav.navbar ul.nav li > a {
      width: 100%;
      border-bottom: 1px solid #eee;
      padding-left: 0; }
    .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu,
    .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu {
      border: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 10px; }
      .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu li.dropdown .dropdown-toggle,
      .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu li.dropdown .dropdown-toggle {
        display: none; }
      .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu ul.dropdown-menu,
      .ovatheme_header_default nav.navbar ul.nav ul.dropdown-menu ul.dropdown-menu {
        display: block;
        border: none; }
    .ovatheme_header_default nav.navbar li a,
    .ovatheme_header_default nav.navbar li a {
      padding: 7px 0px;
      display: inline-block; }
    .ovatheme_header_default nav.navbar li.dropdown > a:after,
    .ovatheme_header_default nav.navbar li.dropdown > a:after {
      display: none; }
    .ovatheme_header_default nav.navbar li.dropdown .dropdown-toggle,
    .ovatheme_header_default nav.navbar li.dropdown .dropdown-toggle {
      display: inline-block;
      padding-left: 0px;
      position: absolute;
      right: 10px;
      top: 8px;
      background: transparent;
      border: none; }
      .ovatheme_header_default nav.navbar li.dropdown .dropdown-toggle:focus,
      .ovatheme_header_default nav.navbar li.dropdown .dropdown-toggle:focus {
        outline: none; }
    .ovatheme_header_default nav.navbar li.active_sub > ul.dropdown-menu,
    .ovatheme_header_default nav.navbar li.active_sub > ul.dropdown-menu {
      display: block; }
    .ovatheme_header_default nav.navbar .navbar-brand,
    .ovatheme_header_default nav.navbar .navbar-brand {
      padding-top: 15px;
      padding-bottom: 15px; } }

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.blogname {
  color: #008aff; }

.sticky {
  border-top: 5px solid #008aff; }

article.post-wrap .post-media {
  margin-bottom: 22px; }
article.post-wrap h1.post-title {
  padding-top: 5px;
  word-break: break-all;
  color: #333333; }
article.post-wrap h2.post-title {
  word-break: break-all; }
  article.post-wrap h2.post-title a {
    font-size: 30px;
    text-transform: inherit;
    font-weight: 600;
    transition: 0.4s; }
    article.post-wrap h2.post-title a:hover {
      color: #008aff; }
article.post-wrap .post-meta .post-meta-content {
  margin-top: 19px;
  margin-bottom: 20px;
  font-size: 16px; }
  article.post-wrap .post-meta .post-meta-content i {
    color: #008aff;
    margin-right: 3px; }
    article.post-wrap .post-meta .post-meta-content i:before {
      margin: 0px;
      font-size: 15px; }
  article.post-wrap .post-meta .post-meta-content a {
    font-size: 16px;
    transition: 0.4s; }
    article.post-wrap .post-meta .post-meta-content a:hover {
      color: #008aff; }
article.post-wrap .post-footer .post-readmore a {
  padding: 12px 33px;
  background-color: #008aff;
  border-radius: 3px;
  transition: 0.5s;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: all .3s; }
  article.post-wrap .post-footer .post-readmore a:hover {
    background-color: #333333; }
article.post-wrap .post-tag-howdy {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e5e5e5;
  padding-top: 18px;
  padding-bottom: 0px;
  margin-top: 10px; }
  @media (max-width: 767px) {
    article.post-wrap .post-tag-howdy {
      flex-direction: column; }
      article.post-wrap .post-tag-howdy .post-tags-howdy {
        margin-bottom: 7px; } }
  article.post-wrap .post-tag-howdy .post-tags-howdy {
    width: 100%; }
    @media (max-width: 767px) {
      article.post-wrap .post-tag-howdy .post-tags-howdy {
        width: 100%; } }
    article.post-wrap .post-tag-howdy .post-tags-howdy .ovatags {
      font-size: 15px;
      line-height: 24px;
      color: #666666;
      margin-right: 14px; }
    article.post-wrap .post-tag-howdy .post-tags-howdy > a {
      font-size: 12px;
      line-height: 24px;
      color: #fff;
      background-color: #008aff;
      padding: 0px 10px 2px 10px;
      border-radius: 2px;
      transition: 0.5s;
      display: inline-block;
      margin-bottom: 7px; }
      article.post-wrap .post-tag-howdy .post-tags-howdy > a:not(:last-child) {
        margin-right: 10px; }
      article.post-wrap .post-tag-howdy .post-tags-howdy > a:hover {
        background-color: #25282e; }
  article.post-wrap .post-tag-howdy .share_social-howdy {
    text-align: right;
    flex-basis: 25%; }
    @media (max-width: 767px) {
      article.post-wrap .post-tag-howdy .share_social-howdy {
        text-align: left;
        width: 100%; } }
    article.post-wrap .post-tag-howdy .share_social-howdy ul.share-social-icons {
      padding: 0;
      list-style-type: none; }
      article.post-wrap .post-tag-howdy .share_social-howdy ul.share-social-icons li {
        display: inline-block; }
        article.post-wrap .post-tag-howdy .share_social-howdy ul.share-social-icons li a i {
          font-size: 14px;
          color: #666666;
          transition: 0.5s; }
        article.post-wrap .post-tag-howdy .share_social-howdy ul.share-social-icons li a:hover i {
          color: #008aff; }
        article.post-wrap .post-tag-howdy .share_social-howdy ul.share-social-icons li:not(:last-child) {
          margin-right: 10px; }

.pagination-wrapper {
  margin: 35px 0px; }
  .pagination-wrapper .blog_pagination .pagination li a {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    transition: 0.5s; }
    .pagination-wrapper .blog_pagination .pagination li a:hover {
      color: #fff;
      background-color: #008aff; }
  .pagination-wrapper .blog_pagination .pagination li .pagi_dots {
    color: #666666;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    transition: 0.5s;
    margin-right: 10px; }
  .pagination-wrapper .blog_pagination .pagination li.active a {
    color: #fff;
    background-color: #008aff; }

.sidebar .widget h4.widget-title {
  font-size: 25px;
  text-transform: inherit;
  font-weight: 600;
  border-bottom: none;
  color: #333333; }
.sidebar .widget ul li a {
  color: #008aff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  transition: 0.5s; }
  .sidebar .widget ul li a:hover {
    color: #333333; }
.sidebar .widget.widget_tag_cloud .tagcloud a {
  padding: 3px 15px;
  background-color: transparent;
  border: solid 1px #bfbfbf;
  font-size: 17px !important;
  border-radius: 5px;
  color: #828282;
  transition: 0.4s; }
  .sidebar .widget.widget_tag_cloud .tagcloud a:hover {
    background-color: #008aff;
    color: #fff;
    border-color: #008aff; }
.sidebar .widget.widget_custom_html h4.widget-title {
  margin-bottom: 10px; }
.sidebar .widget.widget_custom_html .ova_search {
  position: relative;
  margin-top: 36px; }
  .sidebar .widget.widget_custom_html .ova_search input {
    border: none;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    background-color: #f2f2f2;
    padding: 13px 10px 14px 20px;
    height: unset; }
  .sidebar .widget.widget_custom_html .ova_search button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0; }
    .sidebar .widget.widget_custom_html .ova_search button:focus {
      outline: none; }
.sidebar .widget.widget_rss ul li a.rsswidget {
  color: #008aff;
  font-size: 17px; }
  .sidebar .widget.widget_rss ul li a.rsswidget:hover {
    color: #333; }

.comment-respond small {
  display: inline-block;
  margin-bottom: 10px; }
.comment-respond h4.title-comment {
  margin: 36px 0px 5px 0px; }
.comment-respond .comment-form input, .comment-respond .comment-form textarea {
  height: unset;
  padding: 12px 18px;
  border-color: #e5e5e5; }
.comment-respond .comment-form .form-submit {
  margin-top: 35px; }
  .comment-respond .comment-form .form-submit #submit {
    background-color: #008aff;
    border-color: #008aff;
    transition: 0.4s; }
    .comment-respond .comment-form .form-submit #submit:hover {
      background-color: #333;
      border-color: #333; }
.comment-respond .comment-form .comment-form-cookies-consent {
  display: none; }

.content_comments {
  /*form comment*/
  /*end form comment*/ }
  .content_comments .wrap_comment_form .comment-respond small {
    display: none; }
  .content_comments .wrap_comment_form h4.title-comment {
    border-top: none;
    padding-top: 0;
    margin-top: 0; }
  .content_comments .wrap_comment_form .comment-form input, .content_comments .wrap_comment_form .comment-form textarea {
    height: unset;
    padding: 12px 18px;
    border-color: #e5e5e5; }
  .content_comments .wrap_comment_form .comment-form .form-submit {
    order: 4;
    margin-top: 18px;
    margin-bottom: 120px; }
    .content_comments .wrap_comment_form .comment-form .form-submit #submit {
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      height: unset;
      padding: 12px 53px 13px 53px;
      text-transform: unset;
      transition: 0.5s;
      background-color: #008aff;
      border-color: #008aff;
      transition: 0.4s; }
      .content_comments .wrap_comment_form .comment-form .form-submit #submit:hover {
        background-color: #333;
        border-color: #333; }

ul.commentlists li.pingback, ul.commentlists li.trackback {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 14px; }
  ul.commentlists li.pingback .author-name a, ul.commentlists li.trackback .author-name a {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize; }
    ul.commentlists li.pingback .author-name a:hover, ul.commentlists li.trackback .author-name a:hover {
      color: #008aff; }
ul.commentlists li.pingback:last-child {
  border-bottom: none; }

.post-password-form p:not(:last-child) {
  padding-bottom: 20px; }
.post-password-form p label input[type=password] {
  height: unset;
  padding-top: 8px;
  padding-bottom: 8px; }
.post-password-form p input[type=submit] {
  height: unset;
  line-height: 25px;
  padding-bottom: 7px;
  padding-top: 7px;
  cursor: pointer; }

.comment-respond #submit {
  line-height: 24px;
  font-size: 16px;
  padding: 12px 53px 13px 53px !important;
  height: unset; }

@media (max-width: 767px) {
  h4.title-comment {
    margin-top: 0px; } }
/********  TESTTHEME ****************/
.page-links {
  float: unset;
  padding-top: 20px; }

article.post-wrap .post-meta .post-meta-content a {
  word-break: break-all; }
article.post-wrap .post-body .post-excerpt p {
  margin-bottom: 30px; }
  article.post-wrap .post-body .post-excerpt p:last-child:after {
    content: "";
    display: block;
    clear: both; }

.comment-respond .comment-reply-title {
  display: none; }
.comment-respond h4.title-comment {
  margin: 36px 0px 15px 0px; }

h4.title-comment, h4.number-comments {
  font-size: 25px;
  text-transform: inherit;
  font-weight: 600;
  color: #333333; }

/**************** END TESTTHEME *************/
ul.commentlists li.pingback .author-name.mobile,
.author-name.mobile {
  display: none; }

@media (max-width: 991px) {
  .content_comments .commentlists li.comment article.comment_item .comment-author {
    display: flex;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px; }
    .content_comments .commentlists li.comment article.comment_item .comment-author .author-name.mobile {
      margin-left: 15px;
      padding-top: 0px; }
      .content_comments .commentlists li.comment article.comment_item .comment-author .author-name.mobile .name, .content_comments .commentlists li.comment article.comment_item .comment-author .author-name.mobile .name a {
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        font-weight: 600;
        text-transform: capitalize; }
      .content_comments .commentlists li.comment article.comment_item .comment-author .author-name.mobile .date_reply {
        margin-top: 8px; }
      .content_comments .commentlists li.comment article.comment_item .comment-author .author-name.mobile .ova_reply a {
        font-size: 14px;
        margin-top: 5px;
        display: block; }
        .content_comments .commentlists li.comment article.comment_item .comment-author .author-name.mobile .ova_reply a i {
          padding-right: 3px; }
      .content_comments .commentlists li.comment article.comment_item .comment-author .author-name.mobile .date {
        font-size: 14px; }

  .author-name.mobile {
    display: block !important; }

  ul.commentlists li.pingback .author-name.mobile {
    display: none !important; }

  .content_comments .commentlists li.comment article.comment_item .comment-details .author-name.desk {
    display: none; }

  .content_comments .commentlists li.comment article.comment_item .comment-details .comment-body {
    padding-left: 0; }

  .content_comments .commentlists li.comment article.comment_item .comment-details .ova_reply {
    margin-top: 10px; }

  ul.commentlists li.pingback {
    display: block;
    width: 100%;
    float: left; }

  ul.commentlists li.pingback header.comment-author {
    display: none; }

  ul.commentlists li.pingback .comment-details .author-name {
    margin-top: 0 !important; }

  ul.commentlists li.comment .comment_item .comment-author img {
    width: 70px;
    height: 70px; } }

/*# sourceMappingURL=theme.css.map */
