/*
Theme Name: Swan Lake - Lead Generation Marketing Landing Page
Author: Adnan and Ahmed
Author URI: 
Version: 1.0
Text Domain: Swan Lake
Tags: one-column, two-columns
Theme URI:
*/

/*------------------------------------------------------------------

1. import files
2. Global style classes
3. main headinig styles / .main-heading
4. main wrapper styles / #wrapper
5. header of the page styles / #header
6. navigation of the page styles / #nav
7. main banner of the page styles / .main-banner
8. quote form of the page styles / .quote-form
9. about section of the page styles / .about-section
10. counter section of the page styles / .counter-section
11. services section of the page styles / .services-section
12. price section of the page styles / .price-section
13. quote section of the page styles / .quote-section
14. footer of the page styles / #footer

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. import files
-------------------------------------------------------------------*/

.clearfix:after,
.widget:after,
.search-form:after,
.post-password-form p:after,
.navigation-single:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.comment-form input[type="text"],
.search-form input[type="text"],
.post-password-form input[type="text"],
.comment-form
input[type="tel"],
.search-form
input[type="tel"],
.post-password-form
input[type="tel"],
.comment-form
input[type="email"],
.search-form
input[type="email"],
.post-password-form
input[type="email"],
.comment-form
input[type="search"],
.search-form
input[type="search"],
.post-password-form
input[type="search"],
.comment-form
input[type="password"],
.search-form
input[type="password"],
.post-password-form
input[type="password"],
.comment-form
input[type="url"],
.search-form
input[type="url"],
.post-password-form
input[type="url"],
.comment-form
input[type="date"],
.search-form
input[type="date"],
.post-password-form
input[type="date"],
.comment-form
textarea,
.search-form
textarea,
.post-password-form
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
	padding: .5em .7em;
}

.comment-form input[type="text"]:focus,
.search-form input[type="text"]:focus,
.post-password-form input[type="text"]:focus,
.comment-form
  input[type="tel"]:focus,
.search-form
  input[type="tel"]:focus,
.post-password-form
  input[type="tel"]:focus,
.comment-form
  input[type="email"]:focus,
.search-form
  input[type="email"]:focus,
.post-password-form
  input[type="email"]:focus,
.comment-form
  input[type="search"]:focus,
.search-form
  input[type="search"]:focus,
.post-password-form
  input[type="search"]:focus,
.comment-form
  input[type="password"]:focus,
.search-form
  input[type="password"]:focus,
.post-password-form
  input[type="password"]:focus,
.comment-form
  input[type="url"]:focus,
.search-form
  input[type="url"]:focus,
.post-password-form
  input[type="url"]:focus,
.comment-form
  input[type="date"]:focus,
.search-form
  input[type="date"]:focus,
.post-password-form
  input[type="date"]:focus,
.comment-form
  textarea:focus,
.search-form
  textarea:focus,
.post-password-form
  textarea:focus {
	border-color: #333;
}

.comment-form input[type="text"]::-webkit-input-placeholder,
.search-form input[type="text"]::-webkit-input-placeholder,
.post-password-form input[type="text"]::-webkit-input-placeholder,
.comment-form
  input[type="tel"]::-webkit-input-placeholder,
.search-form
  input[type="tel"]::-webkit-input-placeholder,
.post-password-form
  input[type="tel"]::-webkit-input-placeholder,
.comment-form
  input[type="email"]::-webkit-input-placeholder,
.search-form
  input[type="email"]::-webkit-input-placeholder,
.post-password-form
  input[type="email"]::-webkit-input-placeholder,
.comment-form
  input[type="search"]::-webkit-input-placeholder,
.search-form
  input[type="search"]::-webkit-input-placeholder,
.post-password-form
  input[type="search"]::-webkit-input-placeholder,
.comment-form
  input[type="password"]::-webkit-input-placeholder,
.search-form
  input[type="password"]::-webkit-input-placeholder,
.post-password-form
  input[type="password"]::-webkit-input-placeholder,
.comment-form
  input[type="url"]::-webkit-input-placeholder,
.search-form
  input[type="url"]::-webkit-input-placeholder,
.post-password-form
  input[type="url"]::-webkit-input-placeholder,
.comment-form
  input[type="date"]::-webkit-input-placeholder,
.search-form
  input[type="date"]::-webkit-input-placeholder,
.post-password-form
  input[type="date"]::-webkit-input-placeholder,
.comment-form
  textarea::-webkit-input-placeholder,
.search-form
  textarea::-webkit-input-placeholder,
.post-password-form
  textarea::-webkit-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]::-moz-placeholder,
.search-form input[type="text"]::-moz-placeholder,
.post-password-form input[type="text"]::-moz-placeholder,
.comment-form
  input[type="tel"]::-moz-placeholder,
.search-form
  input[type="tel"]::-moz-placeholder,
.post-password-form
  input[type="tel"]::-moz-placeholder,
.comment-form
  input[type="email"]::-moz-placeholder,
.search-form
  input[type="email"]::-moz-placeholder,
.post-password-form
  input[type="email"]::-moz-placeholder,
.comment-form
  input[type="search"]::-moz-placeholder,
.search-form
  input[type="search"]::-moz-placeholder,
.post-password-form
  input[type="search"]::-moz-placeholder,
.comment-form
  input[type="password"]::-moz-placeholder,
.search-form
  input[type="password"]::-moz-placeholder,
.post-password-form
  input[type="password"]::-moz-placeholder,
.comment-form
  input[type="url"]::-moz-placeholder,
.search-form
  input[type="url"]::-moz-placeholder,
.post-password-form
  input[type="url"]::-moz-placeholder,
.comment-form
  input[type="date"]::-moz-placeholder,
.search-form
  input[type="date"]::-moz-placeholder,
.post-password-form
  input[type="date"]::-moz-placeholder,
.comment-form
  textarea::-moz-placeholder,
.search-form
  textarea::-moz-placeholder,
.post-password-form
  textarea::-moz-placeholder {
	opacity: 1;
	color: #ccc;
}

.comment-form input[type="text"]:-moz-placeholder,
.search-form input[type="text"]:-moz-placeholder,
.post-password-form input[type="text"]:-moz-placeholder,
.comment-form
  input[type="tel"]:-moz-placeholder,
.search-form
  input[type="tel"]:-moz-placeholder,
.post-password-form
  input[type="tel"]:-moz-placeholder,
.comment-form
  input[type="email"]:-moz-placeholder,
.search-form
  input[type="email"]:-moz-placeholder,
.post-password-form
  input[type="email"]:-moz-placeholder,
.comment-form
  input[type="search"]:-moz-placeholder,
.search-form
  input[type="search"]:-moz-placeholder,
.post-password-form
  input[type="search"]:-moz-placeholder,
.comment-form
  input[type="password"]:-moz-placeholder,
.search-form
  input[type="password"]:-moz-placeholder,
.post-password-form
  input[type="password"]:-moz-placeholder,
.comment-form
  input[type="url"]:-moz-placeholder,
.search-form
  input[type="url"]:-moz-placeholder,
.post-password-form
  input[type="url"]:-moz-placeholder,
.comment-form
  input[type="date"]:-moz-placeholder,
.search-form
  input[type="date"]:-moz-placeholder,
.post-password-form
  input[type="date"]:-moz-placeholder,
.comment-form
  textarea:-moz-placeholder,
.search-form
  textarea:-moz-placeholder,
.post-password-form
  textarea:-moz-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]:-ms-input-placeholder,
.search-form input[type="text"]:-ms-input-placeholder,
.post-password-form input[type="text"]:-ms-input-placeholder,
.comment-form
  input[type="tel"]:-ms-input-placeholder,
.search-form
  input[type="tel"]:-ms-input-placeholder,
.post-password-form
  input[type="tel"]:-ms-input-placeholder,
.comment-form
  input[type="email"]:-ms-input-placeholder,
.search-form
  input[type="email"]:-ms-input-placeholder,
.post-password-form
  input[type="email"]:-ms-input-placeholder,
.comment-form
  input[type="search"]:-ms-input-placeholder,
.search-form
  input[type="search"]:-ms-input-placeholder,
.post-password-form
  input[type="search"]:-ms-input-placeholder,
.comment-form
  input[type="password"]:-ms-input-placeholder,
.search-form
  input[type="password"]:-ms-input-placeholder,
.post-password-form
  input[type="password"]:-ms-input-placeholder,
.comment-form
  input[type="url"]:-ms-input-placeholder,
.search-form
  input[type="url"]:-ms-input-placeholder,
.post-password-form
  input[type="url"]:-ms-input-placeholder,
.comment-form
  input[type="date"]:-ms-input-placeholder,
.search-form
  input[type="date"]:-ms-input-placeholder,
.post-password-form
  input[type="date"]:-ms-input-placeholder,
.comment-form
  textarea:-ms-input-placeholder,
.search-form
  textarea:-ms-input-placeholder,
.post-password-form
  textarea:-ms-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"].placeholder,
.search-form input[type="text"].placeholder,
.post-password-form input[type="text"].placeholder,
.comment-form
  input[type="tel"].placeholder,
.search-form
  input[type="tel"].placeholder,
.post-password-form
  input[type="tel"].placeholder,
.comment-form
  input[type="email"].placeholder,
.search-form
  input[type="email"].placeholder,
.post-password-form
  input[type="email"].placeholder,
.comment-form
  input[type="search"].placeholder,
.search-form
  input[type="search"].placeholder,
.post-password-form
  input[type="search"].placeholder,
.comment-form
  input[type="password"].placeholder,
.search-form
  input[type="password"].placeholder,
.post-password-form
  input[type="password"].placeholder,
.comment-form
  input[type="url"].placeholder,
.search-form
  input[type="url"].placeholder,
.post-password-form
  input[type="url"].placeholder,
.comment-form
  input[type="date"].placeholder,
.search-form
  input[type="date"].placeholder,
.post-password-form
  input[type="date"].placeholder,
.comment-form
  textarea.placeholder,
.search-form
  textarea.placeholder,
.post-password-form
  textarea.placeholder {
	color: #ccc;
}

.widget {
	margin-bottom: 1.2em;
}

.widget ul {
	padding-left: 2em;
}

.widget select {
	min-width: 150px;
}

.comment-form label {
	display: block;
	padding-bottom: 4px;
}

.comment-form textarea {
	overflow: auto;
	margin: 0;
	height: 120px;
	min-height: 120px;
}

.comment-form textarea,
.comment-form input[type="text"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.comment-form input[type="submit"] {
	display: block;
	float: none;
}

.post-password-form label {
	display: block;
}

.post-password-form input[type="password"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.search-form input {
	float: left;
	height: 2em;
}

.search-form input[type="search"] {
	margin: 0 4px 0 0;
	width: 150px;
}

.post-password-form input {
	float: left;
	height: 2em;
}

.post-password-form input[type="password"] {
	width: 150px;
}

.comment-form input[type="submit"],
.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	background: #333;
	color: #fff;
	height: 2em;
	border: none;
	padding: 0 .5em;
}

.comment-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:hover,
.search-form input[type="submit"]:hover {
	opacity: .8;
}

.commentlist {
	margin: 0 0 1.2em;
}

.commentlist .edit-link {
	margin: 0;
}

.commentlist .avatar-holder {
	float: left;
	margin: 0 1.2em 4px 0;
}

.commentlist-item .commentlist-item {
	padding: 0;
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: 1.2em;
}

.widget_calendar #next {
	text-align: right;
}

.gallery-item dt {
	float: none;
	padding: 0;
}

.navigation,
.navigation-comments {
	position: relative;
	vertical-align: middle;
	margin-bottom: 1.2em;
}

.navigation .screen-reader-text,
.navigation-comments .screen-reader-text {
	position: absolute;
	left: -99999px;
}

.navigation .page-numbers,
.navigation-comments .page-numbers {
	display: inline-block;
	vertical-align: middle;
	padding: 0 .4em;
}

.navigation .next,
.navigation .prev,
.navigation-comments .next,
.navigation-comments .prev {
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	padding: .4em;
	text-decoration: none;
}

.navigation-single {
	margin-bottom: 1.2em;
}

.navigation-single .next,
.navigation-single .prev {
	float: left;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	text-decoration: none;
}

.navigation-single .next a,
.navigation-single .prev a {
	color: inherit;
	text-decoration: none;
	padding: .4em;
	display: block;
}

.navigation-single .next {
	float: right;
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid #ccc;
	padding: .4em;
	margin-bottom: 1.2em;
}

.wp-caption img {
	margin: 0;
	vertical-align: top;
}

.wp-caption p {
	margin: .4em 0 0;
}

div.aligncenter {
	margin: 0 auto 1.2em;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 1.2em 4px 0;
}

.alignright {
	float: right;
	margin: 0 0 4px 1.2em;
}

.mejs-container {
	margin-bottom: 1.2em;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

/*------------------------------------------------------------------
	2. Global style classes
-------------------------------------------------------------------*/

.dark-bg {
	background-color: #0C2C52;
}

.bg-img-full {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bg-img-parallax {
	background-attachment: fixed;
}

.overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .75;
	position: absolute;
	pointer-events: none;
	background-color: #00000082;
}

.divider {
	background-image: url(images/divider.png);
	width: 65px;
	height: 10px;
	display: block;
	margin: 0 0 15px;
}

.divider.center {
	margin: 0 auto 10px;
}

.divider.white {
	background-image: url(images/divider2.png);
}

.section {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.mar-top-xs {
	margin-top: 30px !important;
}

.mar-top-sm {
	margin-top: 60px !important;
}

.mar-top-md {
	margin-top: 90px !important;
}

.pad-top-xs {
	padding-top: 30px !important;
}

.pad-top-sm {
	padding-top: 60px !important;
}

.pad-top-md {
	padding-top: 90px !important;
}

.mar-top-lg {
	margin-top: 120px !important;
}

.pad-top-lg {
	padding-top: 120px !important;
}

.mar-bottom-xs {
	margin-bottom: 30px !important;
}

.mar-bottom-sm {
	margin-bottom: 60px !important;
}

.mar-bottom-md {
	margin-bottom: 90px !important;
}

.pad-bottom-sm {
	padding-bottom: 60px !important;
}

.pad-bottom-xs {
	padding-bottom: 30px !important;
}

.pad-bottom-md {
	padding-bottom: 90px !important;
}

.mar-bottom-lg {
	margin-bottom: 120px !important;
}

.pad-bottom-lg {
	padding-bottom: 120px !important;
}

.btn-default {
	border: 0;
	color: #fff;
	font-weight: 700;
	border-radius: 2px;
	padding: 16px 43px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-default:focus,
.btn-default:active,
.btn-default:hover {
	color: #fff;
	background-color: #1c1c1c !important;
}

body.pattern1 {
	background-image: url(images/patterns/pattern1.png);
}

body.pattern2 {
	background-image: url(images/patterns/pattern2.png);
}

body.pattern3 {
	background-image: url(images/patterns/pattern3.png);
}

body.pattern4 {
	background-image: url(images/patterns/pattern4.png);
}

body.pattern5 {
	background-image: url(images/patterns/pattern5.png);
}

body.pattern6 {
	background-image: url(images/patterns/pattern6.png);
}

body.pattern7 {
	background-image: url(images/patterns/pattern7.png);
}

body.pattern8 {
	background-image: url(images/patterns/pattern8.png);
}

body.pattern9 {
	background-image: url(images/patterns/pattern9.png);
}

body.pattern10 {
	background-image: url(images/patterns/pattern10.png);
}

body.pattern11 {
	background-image: url(images/patterns/pattern11.png);
}

body.pattern12 {
	background-image: url(images/patterns/pattern12.png);
}

body.pattern13 {
	background-image: url(images/patterns/pattern13.png);
}

body.pattern14 {
	background-image: url(images/patterns/pattern14.png);
}

body.boxed-v #wrapper {
	max-width: 80%;
	margin: 20px auto;
	border-radius: 3px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
}

/*------------------------------------------------------------------
	3. main headinig styles / .main-heading
-------------------------------------------------------------------*/

.main-heading {
	margin-bottom: 76px;
}

.main-heading .heading {
	color: #333;
	margin: 0 0 18px;
	font: 700 28px/30px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-heading p {
	margin: 0;
}

/*------------------------------------------------------------------
	4. main wrapper styles / #wrapper
-------------------------------------------------------------------*/

#wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

/*------------------------------------------------------------------
	5. header of the page styles / #header
-------------------------------------------------------------------*/

#header {
	z-index: 2;
	position: relative;
	padding: 34px 0 70px;
}

#header.sticky #nav {
	top: 0;
	bottom: auto;
	position: fixed;
}

#header.sticky #nav .nav-list {
	border-radius: 0 4px 4px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#header .nav-opener {
	width: 45px;
	height: 40px;
	display: none;
	font-size: 24px;
	margin: 4px 0 0;
	line-height: 34px;
	border-radius: 3px;
	text-align: center;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	border: 1px solid rgba(255, 255, 255, .5);
}

/*------------------------------------------------------------------
	6. navigation of the page styles / #nav
-------------------------------------------------------------------*/

#nav {
	left: 0;
	right: 0;
	bottom: -38px;
	font-weight: bold;
	position: absolute;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

#nav .nav-list {
	margin: 0;
	overflow: hidden;
	background: #fff;
	border-radius: 4px;
	padding: 18px 31px 18px 28px;
}

#nav .nav-list li {
	padding: 7px 27px 0 0;
	vertical-align: middle;
}

#nav .nav-list a {
	color: #333;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

#nav .nav-list .button {
	float: right;
	padding: 0;
}

#nav .nav-list .btn {
	color: #fff;
	font-size: 12px;
	padding: 9px 15px;
}

.top-list {
	margin: 0;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-list li {
	position: relative;
	padding: 0 8.8% 0 7%;
}

.top-list .fa {
	right: 0;
	top: -3px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	background: #1f1f1f;
	border-radius: 560%;
	border: 1px solid #292929;
}

.top-list strong {
	display: block;
	margin: 0 0 -4px;
}

.top-list a {
	color: #ccc;
}

.mt-social {
	margin: 0;
	font-size: 16px;
}

.mt-social li {
	padding: 0 0 0 5%;
}

.mt-social a {
	opacity: .3;
	color: #fff;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.mt-social a:hover {
	opacity: 1;
}

#main {
	width: 100%;
	overflow: hidden;
	position: relative;
}

/*------------------------------------------------------------------
	7. main banner of the page styles / .main-banner
-------------------------------------------------------------------*/

.main-banner {
	padding: 220px 0;
	overflow: hidden;
	position: relative;
}

.main-banner.small {
	padding: 180px 0;
}

.main-banner .title {
	color: #f8f8f8;
	display: block;
	margin: 0 0 4px;
}

.main-banner .heading {
	color: #fff;
	margin: 0 0 18px;
	font: 700 48px/60px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-banner .divider {
	margin: 0 0 41px;
	vertical-align: top;
	display: inline-block;
}

.main-banner .btn {
	padding: 18px 28px;
}

.main-banner .arrow {
	right: 40px;
	width: 185px;
	height: 103px;
	bottom: -39px;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-banner .promo-info {
	color: #fff;
	display: block;
	letter-spacing: 1px;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-banner .btn-play {
	width: 60px;
	height: 60px;
	font-size: 16px;
	line-height: 60px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	padding: 0 0 0 4px;
	margin: 0 18px 0 0;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.main-banner .txt {
	z-index: 2;
	color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-banner .img-holder {
	max-width: 500px;
	border-radius: 5px;
	position: relative;
	margin: 0 auto 30px;
	box-shadow: 0 44px 32px 0 rgba(0, 0, 0, .6);
}

.main-banner .img-holder img {
	border-radius: 5px;
}

.main-banner .img-holder .btn-play {
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main-slider .slick-arrow {
	top: 50%;
	border: 0;
	padding: 0;
	z-index: 2;
	width: 30px;
	opacity: .2;
	font-size: 0;
	height: 30px;
	line-height: 0;
	position: absolute;
	background: transparent;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	border: solid #fff;
	border-width: 3px 3px 0 0;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.main-slider .slick-arrow:hover {
	opacity: 1;
}

.main-slider .slick-prev {
	left: 55px;
	-webkit-transform: translateY(-50%) rotate(-135deg);
	-ms-transform: translateY(-50%) rotate(-135deg);
	transform: translateY(-50%) rotate(-135deg);
}

.main-slider .slick-next {
	right: 55px;
}

.main-slider .slick-dots {
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	bottom: 40px;
	text-align: center;
	position: absolute;
}

.main-slider .slick-dots li {
	padding: 0 3px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}

.main-slider .slick-dots li.slick-active button {
	opacity: 1;
}

.main-slider .slick-dots button {
	border: 0;
	padding: 0;
	width: 10px;
	height: 10px;
	opacity: .2;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	background: #fff;
	text-indent: -9999px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.main-slider .slick-dots button:hover {
	opacity: 1;
}

/*------------------------------------------------------------------
	8. quote form of the page styles / .quote-form
-------------------------------------------------------------------*/

.quote-form {
	margin: -97px 0;
	border-radius: 3px;
	padding: 56px 30px 69px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: -470px -270px;
}

.quote-form .form-heading {
	color: #333;
	display: block;
	margin: 0 0 3px;
	font: 700 28px/30px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.quote-form .form-title {
	display: block;
	margin: 0 0 49px;
}

.quote-form .form-control {
	height: 48px;
	outline: none;
	color: #999;
	box-shadow: none;
	padding: 6px 23px;
	background: #f5f5f5;
	border-color: #eee;
}

.quote-form .form-group {
	overflow: hidden;
	margin: 0 0 20px;
}

.quote-form .form-group.has-error .form-control {
	color: #f33;
	border-color: #f33;
}

.quote-form .fa {
	font-size: 12px;
	margin-right: 2px;
}

.quote-form .info {
	float: left;
	font-size: 11px;
	padding: 16px 0 0;
}

.quote-form .btn {
	float: right;
	padding: 11px 28px;
	opacity: 1 !important;
}

.quote-form .form-message {
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	position: relative;
}

.quote-form .form-message:after {
	top: 14px;
	left: 17px;
	width: 20px;
	content: "";
	height: 20px;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	font-family: "FontAwesome";
}

.quote-form .form-message.error {
	margin: 0 0 20px;
	background: #f33;
	padding: 15px 5px 13px 50px;
}

.quote-form .form-message.error:after {
	content: "\f00d";
	background: #cc2929;
}

.quote-form .form-message.success {
	margin: 0 0 20px;
	background: #698cf0;
	padding: 15px 5px 13px 50px;
}

.quote-form .form-message.success:after {
	content: "\f00c";
	background: #5470c0;
}

.quote-form.style2 {
	max-width: 1000px;
	padding: 15px 20px;
	margin: 0 auto 30px;
}

.quote-form.style2 .form-group {
	float: left;
	width: 250px;
	margin: 0 20px 0 0;
}

.quote-form.style2 .form-message {
	left: 50%;
	bottom: -30px;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 15px 25px 13px 50px;
}

.quote-form.style2.small {
	max-width: 460px;
}

/*------------------------------------------------------------------
	9. about section of the page styles / .about-section
-------------------------------------------------------------------*/

.about-box {
	line-height: 22px;
}

.about-box .num {
	display: block;
	margin: 0 0 34px;
	font: 700 28px/17px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-box .title {
	display: block;
	color: #333;
	margin: 0 0 19px;
	font: 700 18px/20px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-box .divider {
	width: 35px;
	margin: 0 0 17px;
}

.about-box .more {
	font: 700 12px/20px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-box p {
	margin: 0 0 20px;
}

/*------------------------------------------------------------------
	10. counter section of the page styles / .counter-section
-------------------------------------------------------------------*/

.counter-section {
	overflow: hidden;
}

.counter-section .counter {
	display: block;
	font-size: 72px;
	margin: 0 0 -6px;
	line-height: 80px;
}

.counter-section .txt {
	display: block;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------------------------------------------------------------------
	11. services section of the page styles / .services-section
-------------------------------------------------------------------*/

.services-section {
	overflow: hidden;
}

.services-section .services-box {
	margin: 0;
	overflow: hidden;
	border-radius: 4px;
}

.services-section .services-box li {
	width: 50%;
	float: left;
	height: 230px;
	overflow: hidden;
	position: relative;
	background: #212121;
}

.services-section .services-box li:last-child,
.services-section .services-box li:first-child {
	background: rgba(33, 33, 33, .9);
}

.services-section .services-box li:hover .over {
	-webkit-transform: translateY(-67%);
	-ms-transform: translateY(-67%);
	transform: translateY(-67%);
}

.services-section .services-box li:hover .icomoon {
	opacity: 0;
	-webkit-transform: translateY(-62%);
	-ms-transform: translateY(-62%);
	transform: translateY(-62%);
}

.services-section .services-box li:hover p {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.services-section .services-box .over {
	left: 0;
	right: 0;
	top: 50%;
	position: absolute;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	transform: translateY(-32%);
}

.services-section .services-box .divider {
	width: 35px;
	margin: 0 auto 0;
}

.services-section .services-box .icomoon {
	display: block;
	font-size: 50px;
	margin: 0 0 16px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.services-section .services-box p {
	opacity: 0;
	color: #777;
	max-width: 90%;
	line-height: 20px;
	margin: 15px auto 0;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

.services-section .services-box .title {
	display: block;
	margin: 0 0 15px;
	font: 700 18px/24px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.services-section .txt-box {
	padding: 41px 0 0 7.8%;
}

.services-section .txt-box .divider {
	margin: 0 0 10px;
}

.services-section .txt-box .main-heading {
	margin-bottom: 37px;
}

.services-section .txt-box .list {
	color: #777;
	font-weight: bold;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.services-section .txt-box .list .fa {
	font-size: 17px;
	margin: 0 11px 0 4px;
	vertical-align: middle;
}

.services-section .txt-box .list li {
	margin: 0 0 11px;
}

/*------------------------------------------------------------------
	12. price section of the page styles / .price-section
-------------------------------------------------------------------*/

.price-box {
	background: #fff;
	border: 1px solid #eee;
}

.price-box .header {
	color: #777;
	font-size: 12px;
	padding: 30px 10% 33px;
}

.price-box .title {
	color: #333;
	display: block;
	font-size: 14px;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.price-box .price-txt {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

.price-box .price-txt .price {
	font-size: 38px;
	line-height: 50px;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 4px -5px -5px;
}

.price-box .price-txt .txt {
	letter-spacing: 1px;
	display: inline-block;
	vertical-align: bottom;
}

.price-box p {
	margin: 0;
}

.price-box .box {
	line-height: 22px;
	padding: 38px 9.4%;
	border-top: 1px solid #eee;
}

.price-box .box p {
	margin: 0 0 22px;
}

.price-box h3 {
	color: #333;
	margin: 0 0 19px;
	font: 700 18px/24px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.price-box .divider {
	width: 34px;
	margin: 0 0 15px 3px;
}

.price-box .order {
	font: 700 12px/16px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------------------------------------------------------------------
	13. quote section of the page styles / .quote-section
-------------------------------------------------------------------*/

.quote-section {
	color: #f8f8f8;
	overflow: hidden;
	position: relative;
}

.quote-section .subtitle {
	display: block;
}

.quote-section h2 {
	margin: 0 0 23px;
	font: 700 48px/69px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.quote-section p {
	margin: 0 0 28px;
}

.quote-section .divider {
	margin: 0 auto 14px;
}

/*------------------------------------------------------------------
	14. footer of the page styles / #footer
-------------------------------------------------------------------*/

#footer {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#footer .bottom {
	margin-top: 30px;
	padding-top: 21px;
	border-top: 1px solid #292929;
}

.popup-holder {
	height: 0;
	overflow: hidden;
	position: relative;
}

.lightbox .quote-form {
	margin: 0;
	width: 450px;
}

#back-top {
	bottom: 0;
	opacity: 0;
	z-index: 9;
	right: 20px;
	width: 50px;
	color: #fff;
	height: 50px;
	z-index: 9999;
	cursor: pointer;
	font-size: 25px;
	position: fixed;
	line-height: 47px;
	text-align: center;
	border-radius: 3px;
	background: #252525;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
	-ms-transform: translateY(40px);
	-webkit-transition: all .6s ease;
	-webkit-transform: translateY(40px);
}

#back-top.show {
	opacity: 1;
	transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
}

#back-top:hover {
	opacity: .9;
}

.loader-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
}

.loader-container .holder {
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.la-line-scale,
.la-line-scale > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-line-scale {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-line-scale.la-dark {
    color: #333;
}
.la-line-scale > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-line-scale {
    width: 40px;
    height: 32px;
}
.la-line-scale > div {
    width: 4px;
    height: 32px;
    margin: 2px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-animation: line-scale 1.2s infinite ease;
       -moz-animation: line-scale 1.2s infinite ease;
         -o-animation: line-scale 1.2s infinite ease;
            animation: line-scale 1.2s infinite ease;
}
.la-line-scale > div:nth-child(1) {
    -webkit-animation-delay: -1.2s;
       -moz-animation-delay: -1.2s;
         -o-animation-delay: -1.2s;
            animation-delay: -1.2s;
}
.la-line-scale > div:nth-child(2) {
    -webkit-animation-delay: -1.1s;
       -moz-animation-delay: -1.1s;
         -o-animation-delay: -1.1s;
            animation-delay: -1.1s;
}
.la-line-scale > div:nth-child(3) {
    -webkit-animation-delay: -1s;
       -moz-animation-delay: -1s;
         -o-animation-delay: -1s;
            animation-delay: -1s;
}
.la-line-scale > div:nth-child(4) {
    -webkit-animation-delay: -.9s;
       -moz-animation-delay: -.9s;
         -o-animation-delay: -.9s;
            animation-delay: -.9s;
}
.la-line-scale > div:nth-child(5) {
    -webkit-animation-delay: -.8s;
       -moz-animation-delay: -.8s;
         -o-animation-delay: -.8s;
            animation-delay: -.8s;
}
.la-line-scale.la-sm {
    width: 20px;
    height: 16px;
}
.la-line-scale.la-sm > div {
    width: 2px;
    height: 16px;
    margin: 1px;
    margin-top: 0;
    margin-bottom: 0;
}
.la-line-scale.la-2x {
    width: 80px;
    height: 64px;
}
.la-line-scale.la-2x > div {
    width: 8px;
    height: 64px;
    margin: 4px;
    margin-top: 0;
    margin-bottom: 0;
}
.la-line-scale.la-3x {
    width: 120px;
    height: 96px;
}
.la-line-scale.la-3x > div {
    width: 12px;
    height: 96px;
    margin: 6px;
    margin-top: 0;
    margin-bottom: 0;
}

#bgvid {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 777px;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 1s opacity;
	transition: 1s opacity;
}

#bgvid .vegas-slide{height: 100%;}

@media (min-width: 768px) {
	.commentlist-item .commentlist-item {
		padding: 0 0 0 2em;
	}
}

@media (max-width: 767px) {
	.navigation .page-numbers,
	.navigation-comments .page-numbers {
		padding: 0;
	}

	.navigation .next,
	.navigation .prev,
	.navigation-comments .next,
	.navigation-comments .prev {
		padding: .2em;
	}

	.navigation-single .next a,
	.navigation-single .prev a {
		padding: .2em;
	}
}
/*
 * Animation
 */
@-webkit-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
                transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}
@-moz-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
           -moz-transform: scaleY(.4);
                transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
           -moz-transform: scaleY(1);
                transform: scaleY(1);
    }
}
@keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
           -moz-transform: scaleY(.4);
             -o-transform: scaleY(.4);
                transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
           -moz-transform: scaleY(1);
             -o-transform: scaleY(1);
                transform: scaleY(1);
    }
}
@-o-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
             -o-transform: scaleY(.4);
                transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
             -o-transform: scaleY(1);
                transform: scaleY(1);
    }
}