@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.nav-link {
  color: white !important;
  font-size: 18px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
}

main {
  font-family: "Plus Jakarta Sans";
}

.hero-bg {
  background: 
    /* top, transparent red */ linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/about-hero.png");
  background-size: cover;
  height: 100vh;
}

.btn-custom {
  background-image: linear-gradient(to right, #ff8601, #fca728);
  border: none;
  color: white !important;
  padding: 12px 16px;
  font-size: 18px;
  cursor: pointer;
  width: 174px;
  height: 42px;
  border-radius: 27px !important;
}

.btn-custom-ban {
  background-image: none;
  border: 2px solid white !important;
  color: white !important;
  padding: 12px 16px;
  font-size: 18px;
  cursor: pointer;
  width: 174px;
  height: 42px;
  border-radius: 27px !important;
}

.banner-text {
  font-size: 70px !important;
  color: white;
}
.img-custom {
  width: 203px;
  height: 204px;
}

.font-size-p {
  font-size: 20px;
  color: #131126;
}

.sec1-count-txt {
  color: #ff7d00;
  font-size: 68px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 5px;
}

.sec1-count-txt-sub {
  color: #201c44;
  font-size: 26px;
}

.section-1-header {
  font-size: 54px !important;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #152c4f, #174c9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec2-bg-1 {
  background-color: rgb(195, 219, 255, 0.5);
}

.sec2-bg-1 h5 {
  color: #174c9c;
  font-weight: 600;
  padding-bottom: 20px;
}
.sec2-bg-1 h3 {
  color: #152c4f;
  font-weight: 600;
  padding-bottom: 20px;
}

.sec2-bg-1 img {
  padding-bottom: 20px;
  width: 100%;
}

.sec2-bg-1 p {
  font-size: 22px;
  color: #131126;
}

.sec2-btn-custom {
  background-image: linear-gradient(to right, #152c4f, #174c9c);
  border: none;
  color: white !important;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  width: 192px;
  height: 54px;
  border-radius: 27px !important;
  margin-top: 15px;
}

.sec2-btn-custom img {
  padding: 16px;
  cursor: pointer;
  width: 30px;
}

.sec2-bg-2 p {
  font-size: 22px;
  color: #131126;
}

.tag-style {
  font-size: 20px;
  width: 600;
}

.tag-style span {
  background-color: white;
  margin: 4px;
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 10px;
}

.more-txt {
  background-color: #ff000000 !important;
  color: rgb(19, 17, 38, 0.6) !important;
  font-size: 20px !important;
  margin: 4px !important;
}

.sec2-bg-2 {
  background-color: rgb(255, 224, 190, 0.5);
}

.sec2-bg-2 h5 {
  color: #ff8601;
  font-weight: 600;
  padding-bottom: 20px;
}
.sec2-bg-2 h3 {
  color: #152c4f;
  font-weight: 600;
  padding-bottom: 20px;
}

.sec2-bg-2 img {
  padding-bottom: 20px;
  width: 100%;
}

.sec2-btn-custom-1 {
  background-image: linear-gradient(to right, #ff7d00, #fca728);
  border: none;
  color: white !important;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  width: 192px;
  height: 54px;
  border-radius: 27px !important;
  margin-top: 15px;
}

.sec2-btn-custom-1 img {
  padding: 16px;
  cursor: pointer;
  width: 30px;
}

.card-text-p {
  font-size: 24px;
  font-weight: 600;
  color: #201c44;
}

.card {
  --bs-card-border-color: none !important;
}

.blog-btn {
  border: 2px solid #fae0e1 !important;
  width: 48px;
  height: 50px;
}

section {
  background-image: linear-gradient(to right, #152c4f, #174c9c);
  margin-bottom: 80px;
}

.blog-txt-sub {
  color: white;
  font-size: 45px;
  font-weight: lighter;
  padding-bottom: 5px;
}

.blog-txt {
  background: -webkit-linear-gradient(right, #ff7d00, #fca728);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: lighter;
  padding-top: 12px;
  padding-bottom: 5px;
}

.bt-nav-txt {
  color: #131126 !important;
  font-size: 14px;
}

.social-icons {
  justify-content: end;
}

@media only screen and (max-width: 414px) {
  .banner-text {
    font-size: 44px !important;
  }
  .hero-bg {
    height: auto !important;
  }

  .section-1-header {
    font-size: 34px !important;
  }

  .social-icons {
    justify-content: center;
  }
  section {
    margin-bottom: 20px;
  }

  .sec2-bg-2 {
    text-align: center;
  }

  .sec2-bg-1 {
    text-align: center;
  }
}
