@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --white: #ffffff;
    --dark-blue: #20418B;
    --para-text: #333333;
    --orange: #FF7D00;
    --light-blue: #8BB2FF;
}
section{
    padding-bottom: 20px;
    padding-top: 20px;
}
.hero .container img{
    width: 100%;
    height: auto;
}
.hero .container .hero-title{
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 43.5px;
    margin-bottom: 30px;
}
.para-sec .secondary-title{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43.5px;
    margin-bottom: 40px;
}
.para-sec .point-text-area .point-card .title-board{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 10px;
}

.para-sec .point-text-area .point-card .title-board .card-title{
    color: var(--dark-blue);
    font-family: Plus Jakarta Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -1.085px;
}
.para-sec .point-text-area .point-card .title-board img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.point-card{
    margin-bottom: 15px;
}
.para-sec .s-sec{
    margin-bottom: 45px;
}
.career-post-sec {
    flex-shrink: 0;
    background: linear-gradient(90deg, #152C4F 0%, #174C9C 100%);
    padding: 40px 0px;
}
.career-post-sec .container .publisher{
    display: flex;
    flex-direction: row;
}

.career-post-sec .container .publisher .img-sec{
    width: fit-content;
}
.career-post-sec .container .publisher .text-sec{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
    width: fit-content;
}
.career-post-sec .container .publisher .name{
    color: var(--white);
    font-family: Plus Jakarta Sans;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.5px;
}
.career-post-sec .container .publisher .person-title{
    color: var(--white);
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    opacity: 0.6;
}
.career-post-sec .primary-para{
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
}

.primary-round-btn img{
    margin-left: 10px;
}
.nav-bar{
    margin-bottom: 20px;
}
.nav-menu{
    display: flex;
    flex-direction:row;
    justify-content: end;
    align-items: center;
    padding: 20px 30px 0px;
}
.nav-menu ul{
    display: flex;
    flex-direction:row;
    justify-content: end;
    gap: 30px;
    list-style: none;
    margin-bottom: 0px;
}

.nav-menu ul li a{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
/* identical to box height */
    color: #131126;
    text-decoration: none;
}
.primary-round-btn{
    color: var(--white) !important;
    flex-shrink: 0;
    border-radius: 27px;
    background: linear-gradient(90deg, #FF7D00 0%, #FCA728 100%);
    padding: 7px 20px 12px 20px;
    color: var(--white);
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 50px;
    border: none;
}



@media(max-width: 1199px){
    .para-sec .secondary-title{
        margin-bottom: 15px;
        font-size: 26px;
    }
    .para-sec .s-sec{
        margin-bottom: 30px;
    }
    
}
@media(max-width: 991px){
    .nav-bar .row div{
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
    .nav-menu ul{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .career-post-sec .container .publisher .img-sec img{
        width: 130px;
    }
    
.career-post-sec .container .publisher .name{
    font-size: 30px;
    line-height: 40px;
}
.career-post-sec .container .publisher .person-title{
    font-size: 22px;
    line-height: 26px;
}
}
@media(max-width: 767px){
    .career-post-sec .container .publisher .text-sec{
        padding-left: 16px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .career-post-sec .primary-para{
        line-height: 40px;
    }
    .hero .container .hero-title{
        text-align: center;
        font-size: 21px;
        line-height: 28px;
    }
}