@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
:root{
    --white: #ffffff;
    --dark-blue: #163764;
    --para-text: #333333;
    --orange: #FF7D00;
}

*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}
.nav-bar .row{
    margin: 0px !important;
}
.nav-bar .secs:first-child{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 20px 30px 0px;
}
.nav-bar .secs:last-child{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 20px 30px 0px;
}