@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");


.nav-link {
  color: white !important;
  font-size: 20px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
}

html {
  scroll-behavior: smooth;
}

.cursor-style {
  cursor: pointer;
}

.active {
  font-weight: bold !important;
  color: #e4e4e4 !important;
}

.event {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

main {
  font-family: "Plus Jakarta Sans";
}

.event-container {
  display: flex;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
}

.hero-bg-navi {
  background: url("../img/bg-2.svg");
  background-size: cover;
  height: 100vh;
}

.hero-bg-service {
  background: url("../img/service-bg.svg");
  background-size: cover;
  /* height: 100vh; */
}

.banner-text-new {
  font-size: 60px !important;
  background: -webkit-linear-gradient(right, #152c4f, #174c9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: #152c4f;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 1;
  transition: background 0.5s;
}

.sticky-w {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: white;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 1;
  transition: background 0.5s;
}

/* .sticky + .content {
  padding-top: 60px;
} */

#navbar {
  overflow: hidden;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

video#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translate(-50%, -50%);
  /* background-size: cover; */
}

.btn-custom {
  background-image: linear-gradient(to right, #ff8601, #fca728);
  border: none;
  color: white !important;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  width: 174px;
  height: 42px;
  border-radius: 27px !important;
}

.btn-custom-ban {
  background-image: none;
  border: 2px solid white !important;
  color: white !important;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  width: 174px;
  height: 42px;
  border-radius: 27px !important;
}

.pop-img-col {
  display: flex;
  justify-content: center;
  align-items: end;
}

.btn-custom-ban-learnmore {
  background-image: none;
  border: 2px solid #152c4f !important;
  color: #152c4f !important;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  width: 174px;
  height: 42px;
  border-radius: 27px !important;
}

.tag-text-section {
  width: 350px;
}

.banner-text {
  font-size: 70px !important;
  color: white;
}

.img-custom {
  width: 203px;
  height: 204px;
}

.font-size-p {
  font-size: 20px;
  color: #131126;
}

.sec1-count-txt {
  color: #ff7d00;
  font-size: 68px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 5px;
}

.sec1-count-txt-sub {
  color: #201c44;
  font-size: 20px;
}

.serive-txt-sub-w {
  color: #f0f8ffa8;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.mt-txt {
  margin-bottom: 0px;
}

.service-txt-main {
  color: white;
  font-size: 20px;
}

.section-1-header {
  font-size: 54px !important;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #152c4f, #174c9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-header {
  font-weight: 600;
  background: -webkit-linear-gradient(right, #152c4f, #174c9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-style-icon {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-header-about {
  font-size: 54px !important;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #ff8601, #fca728);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-text-new {
  font-size: 22px !important;
  font-weight: 600;
  padding: 20px;
  background: -webkit-linear-gradient(right, #ff8601, #fca728);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.view-btn-new {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec2-bg-1 {
  background-color: rgb(195, 219, 255, 0.5);
}

.sec2-bg-1 h5 {
  color: #174c9c;
  font-weight: 600;
  padding-bottom: 20px;
}

.sec2-bg-1 h3 {
  color: #152c4f;
  font-weight: 600;
  padding-bottom: 20px;
}

.sec2-bg-1 img {
  padding-bottom: 20px;
  width: 100%;
}

.sec2-bg-1 p {
  font-size: 22px;
  color: #131126;
}

.sec2-btn-custom {
  background-image: linear-gradient(to right, #152c4f, #174c9c);
  border: none;
  color: white !important;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  width: 192px;
  height: 54px;
  border-radius: 27px !important;
  margin-top: 15px;
}

.sec2-btn-custom img {
  padding: 16px;
  cursor: pointer;
  width: 30px;
}

.sec2-bg-2 p {
  font-size: 20px;
  color: #131126;
}

.tag-style {
  font-size: 20px;
  width: 500px;
}

.tag-style span {
  background-color: white;
  margin: 4px;
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 10px;
}

.more-txt {
  background-color: #ff000000 !important;
  color: rgb(19, 17, 38, 0.6) !important;
  font-size: 20px !important;
  margin: 4px !important;
}

.sec2-bg-2 {
  background-color: rgb(255, 224, 190, 0.5);
}

.sec2-bg-2 h5 {
  color: #ff8601;
  font-weight: 600;
  padding-bottom: 20px;
}

.sec-new h3 {
  color: #ff8601 !important;
  font-weight: 600;
  padding-bottom: 20px;
}

.sec2-bg-2 h3 {
  color: #152c4f;
  font-weight: 600;
  padding-bottom: 20px;
}

.sec2-bg-2 img {
  padding-bottom: 20px;
  /* width: 100%; */
}

.sec2-btn-custom-1 {
  background-image: linear-gradient(to right, #ff7d00, #fca728);
  border: none;
  color: white !important;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  width: 192px;
  height: 54px;
  border-radius: 27px !important;
  margin-top: 15px;
}

.sec2-btn-custom-1 img {
  padding: 16px;
  cursor: pointer;
  width: 30px;
}

.card-text-p {
  font-size: 20px;
  font-weight: 600;
  color: #201c44;
}

.card-text-p-new {
  font-size: 20px;
  font-weight: normal;
  color: #201c44;
}

.card-new-style {
  width: 145px !important;
  margin-bottom: 50px;
}

.card {
  --bs-card-border-color: none !important;
}

.blog-btn {
  border: 2px solid #fae0e1 !important;
  width: 48px;
  height: 50px;
}

section {
  background-image: linear-gradient(to right, #152c4f, #174c9c);
  margin-bottom: 80px;
}

.blog-txt-sub {
  color: white;
  font-size: 28px;
  font-weight: lighter;
  padding-bottom: 5px;
}

.header-small-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-small-logo-txt {
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 1rem !important;
}

.header-small-logo-txt-sub {
  color: #ffffffa3;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 1rem !important;
  font-weight: normal !important;
}

.navulia-banner-txt {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.blog-txt {
  background: -webkit-linear-gradient(right, #ff7d00, #fca728);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: lighter;
  padding-top: 12px;
  padding-bottom: 5px;
}

.bt-nav-txt {
  color: #131126 !important;
  font-size: 14px;
}

.social-icons {
  justify-content: end;
}

.about_hero {
  background: url("../img/about-hero.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.about-nav .nav-link {
  color: #152c4f !important;
}

.about-nav .active {
  font-weight: bold !important;
  color: #233550 !important;
}

.about-image-card {
  background-color: #c3dbff;
  min-height: 295px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.about-par-image-card {
  min-height: 170px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.service-image-card {
  background-color: #c3dbff;
  align-items: flex-start;
  margin: 10px;
  flex-direction: column;
  align-content: flex-start;
  display: flex;
  justify-content: center;
}

.achievements {
  padding-top: 50px;
  padding-bottom: 50px;
}

.service-image-card-2 {
  background: url("../img/1-1.png");
  min-height: 425px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.popup-padding {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.service-image-card-2-2 {
  background: url("../img/3-3.png");
  min-height: 425px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.service-image-card-2-3 {
  background: url("../img/2-2.png");
  min-height: 425px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.padding-img-sec-service {
  padding: 80px !important;
}

.mrg-zero {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.service-image-card-2-4 {
  background: url("../img/4-4.png");
  min-height: 425px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.service-image-card-2-5 {
  background: url("../img/5-5.png");
  min-height: 425px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.service-image-card-2-6 {
  background: url("../img/6-6.svg");
  min-height: 425px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.service-image-card-2-7 {
  background: url("../img/7-7.png");
  min-height: 425px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.img-custom-service {
  width: 88px;
  height: 88px;
  background: linear-gradient(to right, #152c4f, #174c9c);
  margin-bottom: 15px;
}

.img-custom-service-2 {
  width: 88px !important;
  height: 88px;
  background: linear-gradient(to right, #ff8601, #fca728);
  margin-bottom: 15px;
}

.sec-count-txt {
  color: #152c4f;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.sec-count-txt-sub {
  color: #131126;
  text-align: left;
}

.service-arrow-btn {
  border: 2px solid #152c4f !important;
  width: 48px;
  height: 50px;
}

.btn-next-txt {
  margin-left: 10px;
  font-weight: 500;
  margin-bottom: 0;
}

.achievements-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.ach-img {
  width: 360px;
  height: 110px;
}

.icon-1 {
  background: url("../img/icon-1.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-2 {
  background: url("../img/icon-2.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-3 {
  background: url("../img/icon-3.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-4 {
  background: url("../img/icon-4.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-5 {
  background: url("../img/icon-5.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-6 {
  background: url("../img/icon-6.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-7 {
  background: url("../img/icon-7.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-8 {
  background: url("../img/icon-8.svg");
  width: 153px;
  height: 153px;
  justify-content: center;
  text-align: center;
}

.icon-line:before,
.icon-line:after {
  content: "";
  flex: 1 1;
  /* border-bottom: 2px dotted #ff8601; */
  margin: auto;
}

.icon-line1:before,
.icon-line1:after {
  content: "";
  flex: 1 1;
  border-left: 2px dotted white;
  margin: auto;
}

.icon-line1 {
  display: flex;
  flex-direction: column;
}

.icon-line {
  display: flex;
  flex-direction: row;
}

.profile-card {
  background-color: white;
  align-items: flex-start;
  margin: 10px;
  flex-direction: column;
  align-content: flex-start;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-img-service {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  vertical-align: middle;
}

.card-body-txt-service {
  font-weight: bold;
  margin: 0;
}

.card-body-sub-txt-service {
  font-size: 12px;
  margin: 0;
}

.card-body-sub-img-service {
  justify-content: center;
  align-items: start;
}

.img-navu {
  height: 292px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.img-section-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.sec-new {
  margin: 0px;
  padding-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.sec-new-txt {
  padding-bottom: 20px;
  font-size: 20px;
  padding-right: 20px;
}

.blog-img {
  padding-right: 10px;
  height: 200px;
  width: 300px;
}

.blog-img-coloum {
  display: flex;
}

.h5-new {
  width: 300px;
}

.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cotact-txt-clr {
  color: #ff7d00;
  font-weight: bold;
}

.contact-body-txt {
  font-size: 12px;
}

.contact-col {
  display: flex;
  flex-direction: row;
}

.contact-style {
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes background-in {
  0% {
    scale: 0 0.005;
  }

  33% {
    scale: 1 0.005;
  }

  66%,
  100% {
    scale: 1 1;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 1);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index: 2;
}

body.open .modal-background {
  visibility: visible;
  opacity: 1;
  animation: background-in 1s both;
}

.modal-background-navliu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 1);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index: 2;
}

body.open .modal-background-navliu {
  visibility: visible;
  opacity: 1;
  animation: background-in 1s both;
}

@keyframes modal-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.text-muted img:hover {
  opacity: 90%;
}

.modalmy {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  color: #152c4f;
  width: 50%;
  border-radius: 12px;
  translate: -50% -50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 3;
}

.open .modalmy {
  opacity: 1;
  visibility: visible;
  animation: modal-in 1s;
}

.closed .modalmy {
  opacity: 0;
  visibility: hidden;
  translate: -50% -50%;
}

label {
  font-size: 20px;
}

.popup-description p {
  font-size: 14px;
  font-weight: 200;
}

.address-section {
  padding: 20px;
  display: flex;
  align-items: center;
}

.container-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container-form .image {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  position: relative;
}

.container-form .image img {
  height: 500px;
  z-index: 1;
}

.mobile-sec-view {
  display: none !important;
}

.desktop-sec-view {
  display: block !important;
}

.form-control {
  border-radius: 0 !important;
}

.btn-style {
  width: 100%;
  border-radius: 0 !important;
  background: #ff7d00 !important;
  margin-top: 10px;
  border: none !important;
}

.pop-txt-bottom {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.pop-txt-bottom label {
  font-size: 14px !important;
}

::placeholder {
  color: #e0e0e0 !important;
  opacity: 1;
  /* Firefox */
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e0e0e0 !important;
  font-size: 14px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e0e0e0 !important;
  font-size: 14px;
}

.topnav {
  display: none;
}

.offerSection {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.contact-locate-icon {
  padding-top: 40px;
}
.screen-1260 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

@media only screen and (max-width: 1262px) {
.screen-1260 {
    padding-top: unset !important;
    padding-bottom: unset !important;
  }
}

@media only screen and (max-width: 414px) {
  .banner-text {
    font-size: 44px !important;
  }

  .tag-style {
    width: 100%;
  }

  .offerSection {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .hero-bg-navi {
    height: 50vh !important;
    padding: 20px;
  }

  .hero /*{
    padding-top: 50px;
  }*/

  .hero-bg-service {
    padding-top: 50px;
  }

  .hero-bg {
    height: auto !important;
  }

  .section-1-header {
    font-size: 34px !important;
  }

  .social-icons {
    justify-content: center;
  }

  section {
    margin-bottom: 20px;
  }

  .sec2-bg-2 {
    text-align: center;
  }

  .sec2-bg-1 {
    text-align: center;
  }

  .mobile-style {
    width: 80%;
  }

  .banner-text-new {
    font-size: 20px !important;
    padding-top: 10px;
  }

  .img-navu {
    height: 100%;
    padding: none;
  }

  .sec-new-txt {
    padding-right: 0 !important;
  }

  .h5-new {
    width: 250px;
  }

  .blog-txt {
    font-size: 25px;
  }

  .img-section-new {
    padding: 0 !important;
  }

  .container-form .image {
    display: none;
  }

  .event-container {
    display: flex !important;
    flex-direction: column;
  }

  .blog-img-coloum {
    flex-direction: column;
  }

  .blog-img {
    margin-bottom: 10px;
    padding-right: unset;
  }

  .address-section {
    padding: 0px;
  }

  .blog-title {
    text-align: center;
  }

  .address-section div {
    padding: 5px;
  }

  .pop-img-col {
    display: none !important;
  }

  .menu-mobile {
    flex-direction: column;
    text-align: center;
  }

  .about-banner {
    width: 100% !important;
    height: auto;
  }

  #navbar {
    /* width: unset !important;
    margin-bottom: 20px; */
    display: none;
  }

  .sticky-w {
    position: unset !important;
    background-color: unset;
  }

  .blog-header {
    text-align: center;
  }

  .sticky {
    position: unset !important;
    background-color: unset;
  }

  .modalmy {
    width: 85% !important;
  }

  .blog-dt {
    justify-content: center;
  }

  .achievements-style {
    flex-direction: column;
  }

  .achievements-style .py-5 {
    padding: unset !important;
  }

  .achievements-style img {
    width: 100%;
  }

  .achievements .py-5 {
    padding-top: unset !important;
    padding-bottom: unset !important;
  }

  .service-style-icon {
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }

  .pNew {
    padding-bottom: 10px;
  }

  .achievements {
    padding-top: unset !important;
    padding-bottom: unset !important;
  }

  .section-header-about {
    font-size: 34px !important;
    margin-bottom: 0px;
  }

  .font-size-p {
    font-size: 16px !important;
  }

  .about-sec-icons {
    flex-direction: column;
  }

  .mobile-sec-view {
    display: block !important;
  }

  .desktop-sec-view {
    display: none !important;
  }

  .about-sec-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-txt-sub {
    font-size: 20px !important;
  }

  .about-par-image-card {
    min-height: 100px;
  }

  .mrg {
    margin-bottom: 20px;
  }

  .direction-change-service {
    flex-direction: column !important;
  }

  .service-col-bottom {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }

  .service-bottom-btn {
    justify-content: center;
  }

  .navulia-banner-txt {
    padding-top: 0rem !important;
    padding-bottom: 0px !important;
  }

  /* .sec2-bg-2 img {
    padding-bottom: 60px;
  } */
  .sec-new {
    padding: unset !important;
  }

  .sec2-bg-2 p {
    font-size: 18px;
  }

  .padding-lr {
    padding-left: 30px;
    padding-right: 30px;
  }

  .popup-padding {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .padding-img-sec-service {
    padding: 0px !important;
    padding-bottom: 40px !important;
    padding-top: 40px !important;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

  .mobile-follow-txt {
    display: none !important;
  }

  header {
    flex-direction: column !important;
  }

  .topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
    /* display: block; */
    background: #152c4f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topnav #myLinks {
    display: none;
  }

  #myLinks li {
    margin: 0;
    padding: 5px;
    text-align: center;
  }

  .tag-text-section {
    width: none !important;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: #152c4f;
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
  }

  .topnav a:hover {
    /* background-color: #ddd;
    color: black; */
    border: 1px solid white;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
}

.homepage {
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.boxes {
  background: linear-gradient(to top, #2c3e50 0%, #040216 100%);
  width: 100%;
  height: 100vh;
}

.single-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.single-box li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.single-box li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.single-box li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.single-box li:nth-child(3) {
  left: 29%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.single-box li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.single-box li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.single-box li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.single-box li:nth-child(7) {
  left: 75%;
  width: 200px;
  height: 200px;
  animation-delay: 4.5s;
  bottom: -250px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration: 0.8s;
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-dialog .modal-content {
  border-radius: 2rem !important;
}

.modal-background-fade {
  animation: background-in 1s both;
}

@keyframes rotate-coin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.success-ico {
  animation: rotate-coin 1s;
}

.recaptcha-container {
  display: flex;
  justify-content: center;
}

form .error {
  font-size: 12px;
  color: red;
}

/*------------------------------------------------------------------
  8. quote form of the page styles / .quote-form
-------------------------------------------------------------------*/

.quote-form {
  margin: -97px 0;
  border-radius: 3px;
  /*--New value--*/
  padding: 100px 3px 69px;
  /*--old value--*/
  /*padding: 56px 30px 69px;*/
  /*background-color: #fff;*/
  background-repeat: no-repeat;
  background-position: -470px -270px;
}

.quote-form .form-heading {
  color: #333;
  display: block;
  margin: 0 0 3px;
  font: 700 28px/30px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.quote-form .form-title {
  display: block;
  margin: 0 0 49px;
}

.quote-form .form-control {
  height: 48px;
  outline: none;
  color: #999;
  box-shadow: none;
  padding: 6px 23px;
  background: #f5f5f5;
  border-color: #eee;
}

.quote-form .form-group {
  overflow: hidden;
  margin: 0 0 20px;
}

.quote-form .form-group.has-error .form-control {
  color: #f33;
  border-color: #f33;
}

.quote-form .fa {
  font-size: 12px;
  margin-right: 2px;
}

.quote-form .info {
  float: left;
  font-size: 11px;
  padding: 45px 0 0;
}

.quote-form .btn {
  float: right;
  padding: 11px 28px;
  opacity: 1 !important;
}

.quote-form .form-message {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  position: relative;
}

.quote-form .form-message:after {
  top: 14px;
  left: 17px;
  width: 20px;
  content: "";
  height: 20px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-family: "FontAwesome";
}

.quote-form .form-message.error {
  margin: 0 0 20px;
  background: #f33;
  padding: 15px 5px 13px 50px;
}

.quote-form .form-message.error:after {
  content: "\f00d";
  background: #cc2929;
}

.quote-form .form-message.success {
  margin: 0 0 20px;
  background: #698cf0;
  padding: 15px 5px 13px 50px;
}

.quote-form .form-message.success:after {
  content: "\f00c";
  background: #5470c0;
}

.quote-form.style2 {
  max-width: 1000px;
  padding: 15px 20px;
  margin: 0 auto 30px;
}

.quote-form.style2 .form-group {
  float: left;
  width: 250px;
  margin: 0 20px 0 0;
}

.quote-form.style2 .form-message {
  left: 50%;
  bottom: -30px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 15px 25px 13px 50px;
}

.quote-form.style2.small {
  max-width: 460px;
}

.btn2 {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #042f70;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;