#bg-canvas{margin:0;padding:0;border:0;position:fixed;z-index:1}
.splash{position:absolute;z-index:10;width:100%;height:100%;min-width:320px}
.splash .centered-unit{position:absolute;top:50%;margin-top:-220px;width:100%;text-align:center}
.countdown{margin:70px auto;text-align:center;z-index:10;height:90px}
.countdown:after{content:' ';display:block;clear:both;width:100%;height:0}
.countdown .time{width:90px;height:80px;font-size:30px;line-height:60px;display:inline-block;border-left:1px solid rgba(255,255,255,.1)}
.countdown .time .value{height:0}
.countdown .time:last-child{border-right:1px solid rgba(255,255,255,.1)}
.countdown .unit{font-size:8px;text-transform:uppercase;line-height:10px;color:#76808f;position:relative;top:53px;font-weight:500}

@media (max-width:480px)
{.countdown.large{height:180px;margin:20px auto;width:200px}
	.countdown.large .time{float:left;width:98px}
	.countdown.large .time.hours,.countdown.large .time.seconds{border-left:1px solid rgba(255,255,255,.1);border-right:none}
	.countdown.large .time.minutes,.countdown.large .time.days{border-left:none;border-right:none}
	.countdown.large .time.minutes,.countdown.large .time.seconds{border-top:1px solid rgba(255,255,255,.1)}}

	@media (min-width:761px){.countdown.large{text-align:center;z-index:10}
		.countdown.large .time{line-height:100px;font-size:60px;height:120px;width:158px}
		.countdown.large .unit{font-size:10px;top:85px}}@media (min-width:1101px){.countdown.large{text-align:center;z-index:10}
			.countdown.large .time{line-height:100px;font-size:60px;height:120px;width:198px}
			.countdown.large .unit{font-size:10px;top:85px}}
			.countdown.circled .time{background-color:rgba(0,0,0,.5);border-radius:200px;margin:3px;height:90px;line-height:80px;border:none}
			.countdown.circled .unit{top:55px}@media (max-width:480px){.countdown.circled{width:195px}
				.countdown.circled .time{float:left;width:90px}}

				@media (min-width:760px){.countdown.circled.large{height:150px}
					.countdown.circled.large .time{background-color:rgba(0,0,0,.5);border-radius:200px;font-size:50px;line-height:135px;margin:5px;width:150px;height:150px}
					.countdown.circled.large .unit{top:95px}}
					.overlap{position:absolute;min-height:100%;top:100%;width:100%;margin-top:0;background-color:#23282d;z-index:10;padding:0 0 100px;min-width:320px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
					.overlap .more{display:block;height:20px;padding:10px 20px 15px;position:absolute;width:250px;text-align:center;top:-45px;left:50%;margin-left:-125px;color:#76808f;text-decoration:none;border-radius:10px 10px 0 0;text-transform:uppercase;font-size:11px;font-weight:500}
					.overlap .more .fa{padding:5px;background-color:#76808f;color:#191e23;border-radius:20px;margin:0 10px}.contact{margin:20px 0}.contact .icon{float:left;width:28px;height:28px;line-height:28px;background-color:#a5abb5;border:1px solid #a5abb5;text-align:center;padding:0;border-radius:40px}.contact .icon .fa{color:#23282d}
					

					@media (max-width:480px){.row .col-one-third,
						.row .col-content,.row .col-contacts,
						.row .col-heading{width:100%;float:none;clear:left}
						/*.row .col-two-thirds{width:100%;float:none}h1{font-size:30px}.lead{font-size:16px}}*/
					.color-scheme-silver{color:#2a2d30}body.color-scheme-silver{background-color:#e1e6eb}
					.color-scheme-silver hr{border-color:rgba(255,255,255,.3)}
					.color-scheme-silver .countdown .time{border-color:rgba(255,255,255,.1)}
					.color-scheme-silver .countdown .time:last-child{border-color:rgba(255,255,255,.1)}
					.color-scheme-silver .countdown .unit{color:#76808f}
					.color-scheme-silver .countdown.circled .time{background-color:rgba(255,255,255,.5)}
					.color-scheme-silver .countdown.circled.large .time{background-color:rgba(255,255,255,.5)}
					.color-scheme-silver .overlap{background-color:#d7dce4}.color-scheme-silver .overlap .more{color:#76808f}
					.color-scheme-silver .overlap .more .fa{background-color:#76808f;color:#e1e6eb}.color-scheme-silver 