@media (max-width: 1500px) {
	body.boxed-v #wrapper {
		max-width: 100%;
	}
}

@media (max-width: 1199px) {
	.quote-form .info {
		float: none;
		display: block;
		padding: 0 0 10px;
	}

	.quote-form.style2 .btn {
		float: right;
		width: inherit;
		display: inline;
	}

	.quote-form.style2 .form-group {
		width: 230px;
	}

	.quote-form.style2.small {
		max-width: 440px;
	}
}

@media (max-width: 992px) {
	.main-banner .heading {
		font-size: 33px;
		line-height: 40px;
	}

	.quote-form {
		padding: 40px 20px 49px;
	}

	.quote-form h2 {
		font-size: 42px;
	}

	.quote-form.style2 {
		padding: 15px 0 15px 20px;
	}

	.quote-form.style2 .form-group {
		width: 330px;
		margin: 0 20px 20px 0;
	}

	.quote-form.style2 .btn {
		float: left;
		width: 330px;
	}

	.quote-form.style2.small {
		max-width: 370px;
	}

	.services-section .txt-box {
		padding: 0 0 0 8.5%;
	}

	.main-banner .arrow {
		width: 135px;
		height: 73px;
		bottom: -9px;
	}

	.counter-section .counter {
		font-size: 50px;
		line-height: 60px;
	}
}

@media (max-width: 767px) {
	.mt-social,
	.main-banner .arrow,
	#header .top-list {
		display: none;
	}

	#header {
		padding: 20px 0;
	}

	#header .nav-opener {
		display: inline-block;
	}

	#header.sticky {
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
	}

	#header.sticky #nav {
		top: 100%;
		position: absolute;
	}

	#nav {
		top: 100%;
		height: 0;
		left: -15px;
		right: -15px;
		bottom: auto;
		overflow: hidden;
		max-height: 100vh;
		-webkit-transition: all ease .3s;
		transition: all ease .3s;
	}

	#nav .nav-list {
		padding: 0;
		border-radius: 0;
	}

	#nav .nav-list li {
		padding: 0;
		display: block;
	}

	#nav .nav-list .button {
		float: none;
	}

	#nav .nav-list a {
		display: block;
		padding: 10px 20px;
	}

	.nav-active #nav {
		height: 300px;
		overflow-y: auto;
	}

	.main-banner.small,
	.main-banner {
		padding: 90px 0;
	}

	.services-section .services-box {
		margin: 0;
	}

	.services-section .services-box li {
		width: 100%;
		background: #212121;
	}

	.services-section .services-box li:last-child {
		background: #212121;
	}

	.services-section .services-box li:nth-child(odd) {
		background: rgba(33, 33, 33, .9);
	}

	.quote-section h2 {
		font-size: 32px;
		line-height: 40px;
	}

	.quote-form {
		margin: 80px 0 0;
	}

	.quote-form.style2 {
		margin: 0 auto 20px;
		max-width: 320px;
		padding: 20px;
	}

	.quote-form.style2 .form-group {
		width: 100%;
		margin: 0 0 10px;
	}

	.quote-form.style2 .btn {
		float: none;
		width: 100%;
		display: block;
	}

	.top-list {
		text-align: left;
		padding: 40px 0 10px;
	}

	.top-list li {
		padding: 0 70px 20px;
	}

	.top-list li .fa {
		left: 0;
		right: auto;
	}

	#footer .bottom {
		border: 0;
		margin-top: 0;
		padding-top: 0;
	}

	#footer .bottom p {
		margin: 0;
	}

	.lightbox .quote-form {
		width: 100%;
	}
}
