// =====================================
//  commons.scss
//   |
//   |-> General Settings
//   |-> General Contents
// =====================================



@import "_variables";
@import "css-helpers";



 /**
 * -------------------------------------------------------------------------------
 * ( 01 ) - General Settings
 * -------------------------------------------------------------------------------
 *
 *  This part contains the general settings that you can change like general
 *  font-family, color, headings settings, paragraphs, .. etc.
 *
 * ------
 *
 *  General Basics divided to the following sections:
 *
 *    |
 *    |-->  [ 01 ] - Small Reset
 *    |-->  [ 02 ] - Body
 *    |-->  [ 03 ] - General Links
 *    |-->  [ 04 ] - Headings
 *    |-->  [ 05 ] - Paragraphs
 *    |-->  [ 06 ] - Images
 *    |-->  [ 07 ] - Strong
 *    |-->  [ 08 ] - Texts Highlighting Selection
 *    |-->  [ 09 ] - Text Colored
 *    |-->  [ 10 ] - Form Settings
 *    |-->  [ 11 ] - Page Title
 *    |-->  [ 12 ] - Table
 *    |-->  [ 13 ] - Loading Progress
 *
 */




/*  [ 01 ] - Small Reset
=========================== */

body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p,input,select,legend,textarea,fieldset{ margin:0; padding:0;}


/*  [ 02 ] - Body
==================== */

body {
  width: 100%;
  position: relative;
  // font: 14px/1.5 $body-font;
  font: #{$font-size-base}/#{$line-height-base} $body-font;
  background: #fff;
  color: $body-color;

  @media (max-width: 1400px) {
    // font-size: 16px;
  } // < 1400px width

  @media (max-width: 480px) {
    // font-size: 13px;
  } // < 480px width
}

.font-heading-primary {
  font-family: $heading-font;
}

.font-heading-secondary {
  font-family: $secondary-font;
}

#full-container {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  background-color: #fff;
}

html {
  &.scroll-lock {
    overflow: hidden;
  }
}

  

/* Custom Default Content Width */
@media (min-width: 1200px) {
  .container {
    // width: 960px;
  }
}

@media (min-width: 1440px) {
  .container {
    // width: 1300px;
  }
}


/* Boxed Width */
.boxed {
  @at-root body#{&} {
    background-color: #eee;

    #full-container,
    .header-bar,
    .header-bar-wrap,
    #scroll-progress {
      width: 1300px;
    }

    .header-bar-wrap {
      margin: auto;
    }

    #full-container {
      margin: 60px auto;
      border-radius: 5px;
      // box-shadow: 0 0 20px 0 rgba(0,0,0,0.12);
      box-shadow: 0 9px 30px 5px rgba($body-color,0.2);

      .header-bar,
      #scroll-progress {
        margin: auto;
      }

      .header-bar {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1300px) {
  .boxed {
    @at-root body#{&} { 
      #full-container {
        margin: 0;
        border-radius: 0;
      }

      #full-container,
      .header-bar,
      .header-bar-wrap,
      #scroll-progress {
        width: auto;
      }
    }
  }
} // < 1300px width



/* Space between Bootstrap columns */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}


/* Removing last element margin bottom in column */
[class*="col-"] {
  p,
  .img-preview,
  .video-preview,
  .entry,
  .list,
  .connect-box {
    &:last-child {
      margin-bottom: 0;
    }
  }
}


/*  [ 03 ] - General Links
============================= */

a,
a img {
  outline: none !important;
  border: none;
}

a {
  text-decoration: none;
  color: $theme-color-1;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
  color: $dark-color;
}

a:focus {
  color: $theme-color-1;
  text-decoration: none;
}

p a {
  border-bottom: 1px dotted transparent;
}

p a:hover {
  text-decoration: none;
  border-bottom: 1px dotted $theme-color-1;
}


/*  [ 04 ] - Headings
======================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: $line-height-heading;
  color: $heading-color;

  &.capitalized {
    text-transform: capitalize !important;
  }

  a {
    text-decoration: none;
    color: $dark-color;
    transition: all 0.15s;

    &:hover {
      color: $theme-color-1;
    }
  } 
}

h4,
h5,
h6 { 
  margin-bottom: 10px;
  font-weight: 600;
}

h1 { font-size: $font-size-h1 }
h2 { font-size: $font-size-h2 }
h3 { font-size: $font-size-h3 }
h4 { font-size: $font-size-h4 }
h5 { font-size: $font-size-h5 }
h6 { font-size: $font-size-h6 }

.text-white {
  h1,h2,h3,h4,h5,h6 { color: #fff; }
}

/* Heading Weights */
.heading-200 {
  font-weight: 300;
}

@media (max-width: 1400px) {
  h1 {
    font-size: $font-size-h1 * 0.9;
  }

  h2 {
    font-size: $font-size-h2 * 0.9;
  }

  h3 {
    font-size: $font-size-h3 * 0.9;
  }

  h4 {
    font-size: $font-size-h4 * 0.9;
  }

  h5 {
    font-size: $font-size-h5 * 0.9;
  }

  h6 {
    font-size: $font-size-h6 * 0.9;
  }
} // < 1400px width


@media (max-width: 480px) {
  h1 {
    font-size: $font-size-h1 * 0.85;
  }

  h2 {
    font-size: $font-size-h2 * 0.85;
  }

  h3 {
    font-size: $font-size-h3 * 0.85;
  }

  h4 {
    font-size: $font-size-h4 * 0.95;
  }

  h5 {
    font-size: $font-size-h5 * 0.95;
  }

  h6 {
    font-size: $font-size-h6 * 0.95;
  }
} // < 480px width


/*  [ 05 ] - Paragraphs
========================== */

p {
  margin-bottom: 22px;
}

.dark p {
  color: #fff;
}


/*  [ 06 ] - Images
====================== */

img {
  max-width: 100%;
}


/*  [ 07 ] - Strong
====================== */

strong {
  color: $dark-color;
  font-weight: 600;
}


/*  [ 08 ] - Texts Highlighting Selection
============================================ */

::-moz-selection{
  background: $highlight-bg-color;
  color: $highlight-color;
}

::selection {
  background: $highlight-bg-color;
  color: $highlight-color;
}


/*  [ 09 ] - Text Colored
============================ */

.colored {
  color: $theme-color-1;
}


/*  [ 10 ] - Form Settings
============================ */

form {
  position: relative;
  font-family: $body-font !important;

  [class*="col-"]:last-child .form-group:last-child {
    overflow: hidden;
    margin-bottom: 0 !important;
  }
}

form {
  .form-group {
    position: relative;
    margin-bottom: 0;

    & + .form-group {
      margin-top: 20px;
    }    
  }

  &.form-inline {
    .form-group + .form-group {
      margin-top: 0;
    }
  }
}

input,
input.form-control,
button[type="submit"],
button[type="submit"].form-control,
textarea,
textarea.form-control,
select,
select.form-control {
  padding: 0 20px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  box-shadow: inset 0px 0 0 2px #eee;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  color: $dark-color;
  background-color: #eee;
}

textarea,
textarea.form-control {
  height: 200px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 27px !important;
  border-radius: 15px;
  resize: vertical;
}

input:focus,
input.form-control:focus,
textarea:focus,
textarea.form-control:focus,
select:focus,
select.form-control:focus {
  box-shadow: inset 0 0 0 2px #ccc;
  // border-color: none;
  background: #fff;
  color: $dark-color;
}

button:focus,
button.form-control:focus {
  box-shadow: none;
  border-color: transparent;    
}


.field-icon {
  position: absolute !important;
  left: 20px;
  top: 13px;
  font-size: 18px;
  color: $dark-color;
}

.field-icon + input[type="text"],
.field-icon + input[type="email"],
.field-icon + textarea {
  text-indent: 28px;
}

.form-inline .form-control {
  width: 100%;
}

abbr {
  cursor: help;
}

label {
  vertical-align: top;
  margin-bottom: 0;
  // display: inline;
  color: $dark-color;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
}

label.error {
  display: block;
  margin: 5px 0 0;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #f33;
}

input.error,
textarea.error,
select.error {
  &,
  &:focus {
    box-shadow: 0 0 0 2px #f33;
    // border-color: #f33;
    background: #fff;    
  }
}

input[type="submit"],
input[type="submit"].form-control,
button[type="submit"],
button[type="submit"].form-control {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  border: none;
  // background-color: $theme-color-1;
  border-radius: 5px;
  transition: all 0.2s;
  // width: auto;
  color: #fff !important;
  background-color: $theme-color-1;
  // @extend .color-bg-gradient;
  // @extend .color-border-gradient;

  @media (max-width: 480px) {
    padding: 0 30px;
    // height: 37px;
    // line-height: 37px;
    // font-size: 12px;
  } // < 480px width

  &:not(.btn) {
    box-shadow: none;
  }
  
  &.icon {
    position: absolute;
    right: -1px;
    top: -1px;
    display: flex;
    align-items: center;
    padding: 0;
    width: 80px;
    height: 52px;
    font-size: 17px;
    border-radius: 0 999px 999px 0;
      box-shadow: 0px 15px 15px 4px rgba(#000, 0.1);

  }
}

.form-inline .form-control[type="submit"] {
  width: auto;
}

input[type="submit"]:hover,
input[type="submit"].form-control:hover,
button[type="submit"]:hover,
button[type="submit"].form-control:hover {
  background-color: $theme-color-3;
}

input[type="submit"]:focus,
input[type="submit"].form-control:focus {
  box-shadow: none;
  // background: $theme-color-1;
}





/**
 * -------------------------------------------------------------------------------
 * ( 02 ) - General Contents
 * -------------------------------------------------------------------------------
 *
 *  This part contains the basic general contents like box preview, image  
 *  preview, flat section .. etc.
 *
 * ------
 *
 *  General Contents divided to the following sections:
 *
 *    |
 *    |-->  [ 01 ] - Section Flat
 *    |-->  [ 02 ] - Image BG
 *    |-->  [ 03 ] - Slider Image BG
 *    |-->  [ 04 ] - Image Preview
 *    |-->  [ 05 ] - Box Info
 *    |-->  [ 06 ] - Divider Space
 *    |-->  [ 07 ] - Magnific Popup
 *    |-->  [ 08 ] - Icons
 *    |-->  [ 09 ] - Buttons
 *    |-->  [ 10 ] - Social Icons
 *    |-->  [ 11 ] - Scroll Top Icon
 *
 */


/*  [ 01 ] - Section Flat
=========================== */

.section-flat {
  width: 100%;
  position: relative;

 .section-content {
    width: 100%;
    padding: 120px 0 120px;
    position: relative;
    clear: both;
    // background: #fff;

    @media (max-width: 480px) {
      // padding: 50px 0;
    } // < 480px width

    & > .container-fluid {
      padding: 0;
    }
  }
}

/* Section Title */
.section-title {
  margin-bottom: 40px;

  h5 {
    margin-bottom: 12px;
    font-weight: 500;
    color: $theme-color-1;
  }

  p {
    padding-top: 5px;
    font-size: 18px;
  }

  &.text-white {
    h5 {
      opacity: 0.8;
      color: #fff;
    }

    h1 {
      color: #fff;
    }

    p {
      opacity: 0.7;
      color: #fff;
    }
  }

  .col-md-8 & {
    &.text-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      h2 {
        width: 80%;

        @media (max-width: 768px) {
          width: 100%;
        } // < 768px width
      }

      p {
        width: 75%;

        @media (max-width: 768px) {
          width: 100%;
        } // < 768px width
      }
    }
  }
}

/* Section Parallax */
.section-parallax {
  width: 100%;
  position: relative;
  background-color: #ccc;
  background-position: center center;
  background-size: cover;
  // background-attachment: fixed;
  background-repeat: no-repeat;

 .section-content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 120px 0;
    z-index: 2;

    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-element {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat top center / cover;

    & + img {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .section-parallax {
    > .bg-element {
      background-position: initial !important;
    }
  }
} // < 992px width




/*  [ 02 ] - Image BG
======================= */

.img-bg {
  overflow: hidden;
  position: relative;
  display: block;
  height: 330px; // default height
  border-radius: 4px;
  background: no-repeat center / cover;
  background-color: #ddd;
  transition: all 0.5s;

  .bg-element {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat top center / cover;
    transition: all 0.4s ease;
  }

  > a {
    position: relative;
    // z-index: 1; // when box-img as link
    display: block;
    height: 100%;

    img {
      display: block;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: 100%;
    background-color: rgba(0,0,0,0.75);

    &,
    .overlay-inner {
      // opacity: 0;
      // visibility: hidden;     
      transition: all 0.3s ease;
    }

    .overlay-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start; // vertically center, flex-start or flex-end
      justify-content: flex-start; // horizontally center, flex-start or flex-end
      width: 100%;
      height: 100%;
      padding: 30px;
      transition: all 0.2s 0.2s;

      > * {
        position: relative;
        z-index: 10;
      }

      .sub-title {
        color: $theme-color-1;
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
      }

      h1, h2, h3, h4, h5, h6 {
        color: #fff;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


/*  [ 03 ] - Slider Image BG
============================== */

.slider-img-bg {
  .bg-element {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat top center / cover;
    transition: all 0.4s ease;
  }

  .slide {
    > img {
      display: none;
    }
  }
}


/*  [ 04 ] - Image Preview
============================ */

.img-preview {
  // margin-bottom: 40px;
  // background: #ddd;
  position: relative;

  img {
    max-width: 100%;
  }
}



/*  [ 05 ] - Box Info
======================= */

.box-info {
  position: relative;
  // overflow: hidden;

  &.text-white {
    color: #fff;

    p {
      color: rgba(255,255,255,0.5);
    }
  }

  .box-icon {
    float: left;
    margin: 0 20px 0 0;
    // padding-left: 1px;

    img {
      margin-top: 6px;
    }

    i {
      margin-top: 1px;
    }
  }

  .box-content {
    h5 {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 992px) {
  &.reversed {
    .box-icon {
      float: right;
      margin-left: 20px;
      margin-right: 0;
    }

    .box-content {
      text-align: right;
    }
  }
} // > 992px width




/*  [ 06 ] - Divider Space
============================ */

[class*="divider-"] { // :not([class*="divider-container"])
  display: block;
  overflow: hidden;
  clear: both;  
}

.divider-140 { height: 140px; }
.divider-130 { height: 130px; }
.divider-120 { height: 120px; }
.divider-110 { height: 110px; }
.divider-100 { height: 100px; }
.divider-90 { height: 90px; }
.divider-80 { height: 80px; }
.divider-70 { height: 70px; }
.divider-60 { height: 60px; }
.divider-50 { height: 50px; }
.divider-40 { height: 40px; }
.divider-30 { height: 30px; }
.divider-20 { height: 20px; }
.divider-10 { height: 10px; }

@media (max-width: 992px) {
  [class*="divider-"] {
    &.divider-md- {
      &0 { height: 0; }
      &10 { height: 10px; }
      &20 { height: 20px; }
      &30 { height: 30px; }
      &40 { height: 40px; }
      &50 { height: 50px; }
      &60 { height: 60px; }
      &70 { height: 70px; }
      &80 { height: 80px; }
      &90 { height: 90px; }
      &100 { height: 100px; }
      &110 { height: 110px; }
      &120 { height: 120px; }
      &130 { height: 130px; }
      &140 { height: 140px; }
    }
  }
} // < 992px width

@media (max-width: 768px) {
  [class*="divider-"] {
    &.divider-sm- {
      &0 { height: 0; }
      &10 { height: 10px; }
      &20 { height: 20px; }
      &30 { height: 30px; }
      &40 { height: 40px; }
      &50 { height: 50px; }
      &60 { height: 60px; }
      &70 { height: 70px; }
      &80 { height: 80px; }
      &90 { height: 90px; }
      &100 { height: 100px; }
      &110 { height: 110px; }
      &120 { height: 120px; }
      &130 { height: 130px; }
      &140 { height: 140px; }
    }
  }
} // < 768px width

@media (max-width: 480px) {
  [class*="divider-"] {
    &.divider-xs- {
      &0 { height: 0; }
      &10 { height: 10px; }
      &20 { height: 20px; }
      &30 { height: 30px; }
      &40 { height: 40px; }
      &50 { height: 50px; }
      &60 { height: 60px; }
      &70 { height: 70px; }
      &80 { height: 80px; }
      &90 { height: 90px; }
      &100 { height: 100px; }
      &110 { height: 110px; }
      &120 { height: 120px; }
      &130 { height: 130px; }
      &140 { height: 140px; }
    }
  }
} // < 480px width


/*  Divider Space with Line */
.divider-container {
  display: flex;
  position: relative;
}

.divider-line {
  display: inline-block; // important when hr is used as a separator between floated elements like bootstrap columns
  clear: both;
  // I have to reduce margin-bottom with 10px because i found that 
  // there is additional 10px bottom space to hr! I don't know the reason
  margin: 90px auto 80px;
  width: calc(100% - 30px);
  border-top: 1px solid;
  border-top-color: #eee;

  [class*="col-"] & {
    width: 100%;
  }
}

/* Divider Space with Two Lines */
.divider-two-lines {
  height: 4px;
  margin-bottom: 70px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: block;
  position: relative;
  top: 60px;
  clear: both;  
}



/*  [ 07 ] - Magnific Popup
============================= */

/* Popup Fade Effect */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


/*  [ 08 ] - Icons
==================== */

.icon {
  position: relative;
  display: flex;
  // text-align: center;
  align-items: flex-start;  // verically center, flex-start or flex-end
  justify-content: center;  // horizontally center, flex-start or flex-end 

  i,
  img {
    display: block;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  /* Sizes */
  &.x5 {
    width: 70px;
    height: 70px;
    font-size: 70px;
  }

  /* Colors */
  &.white i { color: #fff; }

  /* Spaced */
  &.spaced {
    align-items: center; // vertically center, flex-start or flex-end 
    padding: 10px;
    border-radius: 4px;

    /* Sizes */
    $icon-spaced-w-h-x5: 70px;

    &.x5 {
      width: $icon-spaced-w-h-x5;
      height: $icon-spaced-w-h-x5;
      font-size: $icon-spaced-w-h-x5 / 2.5;
    }

    /* Rounded */
    &.rounded {
      border-radius: 100%;
    }

    /* Colors */
    &.colorful-bg {
      background-color: $theme-color-1;
      // color: $theme-color-1;
    }
  }
}


/*  [ 09 ] - Buttons
====================== */

.btn {
  overflow: hidden;
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px 35px;
  font-size: 14px;
  line-height: $line-height-base;
  border-radius: 3px;
  font-weight: 700;
  // text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
  border: 2px solid;
  box-shadow: 0px 8px 15px rgba(#000, 0.1);
  font-family: $heading-font;
  transition: color 0.2s, background 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.15s;
  // transition: color 0.2s, background 0.2s, border-color 0.2s !important;

  button#{&} {
    box-shadow: none;
  }

  &.rounded {
    border-radius: 999px;
  }

  &.with-icon {
    &.medium {
      i {
        margin-left: 8px;
        font-size: 16px;
      }
    }

    &.small {
      i {
        margin-left: 6px;
        font-size: 16px;
      }
    }
  }

  /* Sizes */
  &.x-small {
    padding: 5px 16px;
    font-size: 12px;
  }

  &.small {
    padding: 4px 24px;
    font-size: 16px;
  }

  &.medium {
    padding: 11px 30px;
    font-size: 16px;

    @media (max-width: 480px) {
      padding: 8px 20px;
      font-size: 12px;
    } // < 480px width
  }

  &.large {
    padding: 7px 35px;
    font-size: 18px;
    border-width: 3px;

    @media (max-width: 1400px) {
      // padding: 10px 30px;
      // font-size: 18px;
    } // < 1400px width

    @media (max-width: 480px) {
      padding: 6px 32px;
      font-size: 16px;
    } // < 480px width
  }

  &.x-large {
    padding: 11px 44px;
    font-size: 24px;
    border-width: 3px;

    @media (max-width: 480px) {
      padding: 8px 40px;
      font-size: 21px;
    } // < 480px width
  }

  &.xx-large {
    padding: 18px 57px;
    font-size: 20px;
    border-width: 3px;
  }

  &:hover {

  }

  /* Position */
  &.position-right {
    margin-left: auto;
  }

  /* Styles */
  &.colorful,
  &.hover-colorful:hover {
    background-color: $theme-color-1;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-color: $theme-color-1;
    // box-shadow: 0 3px 14px 4px rgba($theme-color-1,0.22);
  }

  &.colorful-2,
  &.hover-colorful-2:hover {
    background-color: $theme-color-2;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-color: $theme-color-2;
    // box-shadow: 0 3px 14px 4px rgba($theme-color-1,0.22);
  }

  &.white,
  &.hover-white:hover {
    background: #fff;
    color: $dark-color;
    text-shadow: none;
    border-color: #fff;
  }

  &.grey,
  &.hover-grey:hover {
    background: #eee;
    color: $dark-color;
    text-shadow: none;
    border-color: #eee;
  }
  
  &.dark,
  &.hover-dark:hover {
    background: $dark-color;
    color: #fff;
    text-shadow: none;
    border-color: $dark-color;
  }

  &.colorful-darken,
  &.hover-colorful-darken:hover {
    background-color: $theme-color-2;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-color: $theme-color-2;
    // box-shadow: 0 3px 14px 4px rgba(darken($theme-color-1, 3%),0.22);
  }

  &.gradient-1 {
    border: none;
    color: #fff;
    @include bgGradient($theme-color-1, $theme-color-2, 235deg);
    // @include btnShadow(#a6a5a5, 0.34);

    &::before {
      @include bgGradient($theme-color-2, $theme-color-1, 190deg);
    }

    &:hover {
      // @include btnShadow(#a6a5a5, 0.3, $param-3: 10px);
    }
  }

  &.gradient-2 {
    border: none;
    color: #fff;
    @include bgGradient(#ef8405, #ff991f, 90deg);
    @include btnShadow(#a6a5a5, 0.34);

    &::before {
      @include bgGradient(#ff991f, #ef8405, 0deg);
    }

    &:hover {
      @include btnShadow(#a6a5a5, 0.6, $param-3: 10px);
    }
  }

  &[class*="gradient-"] {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
    
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  // Move Animation
  &.move-top {
    transform: translateY(0);

    &:hover {
      transform: translateY(-3px);
    }
  }
}


@media (max-width: 480px) {
    .btn {
      &.xx-large {
        padding: 6px 45px;
        font-size: 20px;
      }
    }
} // < 480px width
  


/*  [ 10 ] - Social Icons
=========================== */

/* Social Icons */
.social-icons {
  position: relative;
  display: flex;
  list-style: none;
  margin-bottom: -5px;
  font-size: 0;

  li {
    display: inline-block;
    margin-bottom: 5px;

    +li {
      margin-left: 10px;
    }

    a {
      display: block;
      position: relative;
      overflow: hidden;
      text-align: center;
      background: transparent;
      border-radius: 3px;
      transition: all 0.3s ease;

      &:hover {
        // opacity: 0.7;
      }

      i {
        position: relative;
        top: 50%;
        display: block;
        margin: 0 auto;
        transform: translateY(-50%);
        transition: all 0.25s ease;

        &:first-child {}

        &:first-child,
        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:last-child {
          opacity: 0;
        }
      }
    }
  }

  /* Sizes */
  &.x3 {
    li {
      a {
        width: 30px;
        height: 30px;
        font-size: 12px;
      }

      i {

        &:first-child,
        &:last-child {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &.x4 {
    li {
      a {
        width: 40px;
        height: 40px;
        font-size: 16px;
      }

      i {

        &:first-child,
        &:last-child {
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  &.icon-only {
    li + li {
      margin-left: 2px;
    }

    &.x4 {
      li a {
        width: 30px;
        height: 30px;
      }
    }
  }

  &.rounded {
    a {
      border-radius: 999px;
    }
  }

  /* Animated */
  &.animated {
    li a:hover i:last-child { opacity: 1; }
    li a:hover i:first-child { opacity: 0; }

    // value against <i> height
    &.x4 li a:hover i:first-child { margin-top: -26px; }
    &.x5 li a:hover i:first-child { margin-top: -28px; }
  }

  /* Colors */
  &.white li a,
  &.grey li a,
  &.hover-colorful li a:hover {
    background: transparent;
  }

  &.grey li a i:first-child {
    color: $body-color;
  }

  &.white li a i:first-child {
    color: #fff;
  }

  &.hover-colorful li a i:last-child,
  &.hover-colorful:not(.animated) li a:hover i:first-child {
    color: $theme-color-1;
  }

  &.hover-white li a i:last-child,
  &.hover-white:not(.animated) li a:hover i:first-child {
    color: #fff;
  }

  &.white-bg a {
    background-color: #fff;

    & i:first-child {
      color: $dark-color;
    }
  }

    &.grey-bg a {
    background-color: #eee;

    & i:first-child {
      color: $dark-color;
    }
  }

  &.white-transparent-bg a {
    background-color: #fff;
    border: 1px solid #eee;

    & i:first-child {
      color: $dark-color;
    }
  }

&.hover-white-bg a:hover {
  background-color: #fff !important;

  & i:first-child {
    color: #000;
  }
}

&.hover-dark-bg a:hover {
    background-color: $dark-color;

    & i:first-child {
      color: #fff;
    }
  }

  &.hover-colorful-bg a:hover {
    background-color: $theme-color-1;
    border-color: $theme-color-1;

    & i:first-child {
      color: #fff;
    }

    & i:last-child { color: #fff; }
  }

  &.colorful-bg {
    li a i:first-child {
      color: #fff;
    }

    li a {
      &.si-facebook {
        background-color: #3b5999;
      }

      &.si-twitter {
        background-color: #55acee;
      }

      &.si-instagramorange {
        background-color: #f77737;
      }

      &.si-linkedin {
        background-color: #007bb5;
      }
    }
  }
}

/*  [ 11 ] - Scroll Top Icon
============================== */

.scroll-top-icon {
  width: 30px;
  height: 30px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  border-radius: 2px;
  background-color: #333;
  // text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  position: fixed;
  bottom: -50px;
  right: 40px;
  z-index: 15;
  // box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);

  &.show {
    bottom: 40px;
  }

  &:hover {
    background-color: #3a3a3a;
    color: #fff;
    // bottom: 22px;
  }

  &:focus {
    // background-color: $theme-color-1;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .scroll-top-icon {
    display: none !important;
  }
} // < 992px width
  


/*  [ 11 ] - Page Title
========================= */

#page-title {
  position: relative;
  background-color: #fafafa;

  #page-title-wrap {
    padding: 60px 0;
    position: relative;
    z-index: 1;
  }

  .container,
  .row,
  [class*="col-"] {
    height: 100%;
  }

  > h2 {
    margin-bottom: 6px;
  }
  
  h4 {
    margin: 15px 0 0;
  }

  > h5 {
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 0;
    font-family: $body-font;
    font-size: 18px;
    display: none;
  }
}

/* Breadcrumb */
.breadcrumb {
  list-style: none;
  display: flex;
  padding: 30px 0;
  border-top: 1px solid rgba(#fff, 0.15);
  font-size: 20px;
  font-weight: 500;

  li {
    display: inline-block;

    & + li::before {
      content: "\f100"; // \00a0
      font-family: "Font Awesome 5 Free";
      padding: 0 10px;
      font-size: inherit;
      font-weight: 700;
      position: relative;
      top: 1px;
      color: #fff;
    }
    
    &.active {
      color: $theme-color-3;
    }
  }

  a {
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }

  i {
    margin-left: 5px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .breadcrumb {
    // flex-direction: column;
  }
} // < 768px width


/*  [ 12 ] - Tables
===================== */

table {
  width: 100%;
//   text-align: left;

  h5 {
    margin-bottom: 0;
  }

  thead {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    // text-transform: uppercase;
    color: $dark-color;
    
    th {
      padding: 15px 20px;
      text-align: right;
      font-weight: 600;

      & + th {
        border-right: 1px solid #ddd;
      }

      &:first-child {
        // padding-right: 0;
      }

      &:last-child {

      }
    }
  }

  tbody {
    color: $dark-color;

    tr {
      background: #fff;
      
      & + tr {
        border-top: 1px solid #ddd;
      }
      
      &:nth-child(even) {
        // background: #fafafa;
      }
    }
    
    td {
      padding: 25px 20px;
      font-size: 14px;
      // border-right: 1px solid #ddd;

      & + td {
        border-right: 1px solid #ddd;
      }

      &:first-child {
        padding-right: 0;
      }
    }
  }
}


/*  [ 13 ] - Loading Progress
=============================== */

#loading-progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // background: #fff;
  // transform: translateY(0%) !important;
  display: none;

  &::before,
  &::after {
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  }

  &::before,
  &::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
    // transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  }

  &::before {
    background: $theme-color-1;
    // opacity: 0.9;
    // display: none;
  }

  &::after {
    background: #fff;
  }

  &.hide-it {
    visibility: hidden;
    transition-delay: 1.5s; // last layer delay "::before" + duration = 1.1 + 0.4

    &::before,
    &::after {
      transform: translateY(-100%);
    }

    &::before {
      transition-delay: 1.1s;
      // transition-duration: 0.4s;
    }
  }

  .logo {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
   transition: all 0.4s 0.3s;
  }

  .lp-content {
    position: relative;
    width: 100%;
    z-index: 1;
    // opacity: 1 !important;
    transition: all 0.4s;
  }

  .lp-counter {
      margin-bottom: 9px;
      font-size: 14px;
      font-weight: 300;
      font-family: $heading-font;
      color: $body-color;

    #lp-counter {
      display: inline-block;
      width: 33px;
      font-weight: 600;
      text-align: left;
      color: $dark-color;
    }    
  }

  .lp-bar {
    position: relative;
    margin: auto;
    width: 150px;
    background: #eee;

    #lp-bar {
      height: 2px;
      background: $theme-color-1;
      width: 0;
    }    
  }
}



// Imports ( Rest imports )
// ==================================

@import "helpers-placeholders";

// ==================================
